.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    z-index: 1000;

    img {
        display: inline-block;
        width: 80%;
    }
}

// Desktop devices
@media screen and (min-width: $tablet-breakpoint){

    .filter {

        border: solid $fox-gray 1px;
        margin-bottom: 15px;
        padding: 1% 3%;
        background: $fox-light-gray;
        line-height: 200%;
        * {
            margin-right: 2%;
        }

        input {
            width: auto;
            line-height: normal;
        }

        button {
            float: right;
        }

        // float: right on button makes the div smaller : this hacky thing fixes it
        form:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

    }

    .alarmtable {

        table {
            // table-layout: fixed;
            width: 100%;

            td:nth-child(1), th:nth-child(1){
                width: 5%;
            }
            td:nth-child(2), th:nth-child(2){
                width: 5%;
            }
            td:nth-child(3), th:nth-child(3){
                width: 25%;
            }
            td:nth-child(4), th:nth-child(4){
                width: 20%;
            }
            td:nth-child(5), th:nth-child(5){
                width: 25%;
            }
            td:nth-child(6), th:nth-child(6){
                width: 20%;
            }

        }

        tbody {

            width: 100%;

            // Play icon
            .glyphicon {
                visibility: hidden;
                color: $fox-red;
            }
            
            // Selected alarm
            tr.active {

                // Show the play icon
                .glyphicon {
                    visibility: visible;
                }

                button {
                    background: linear-gradient(0deg, $fox-dark-red, $fox-light-red);
                    color: white;
                    border: none;
                }
            }

        }

    }

}

.not-handled {
    color: $fox-red;
}

// Tablets
@media screen and (max-width: $tablet-breakpoint - 1px){

    .filter {
        border: solid $fox-dark-gray 1px;
        border-radius: 10px;
        background: rgba($fox-light-gray, 0.8);
        padding: 5% 10%;
        box-shadow: 1px 1px 1px $fox-dark-gray;
        z-index: 2000;
        position: absolute;
        top: 10vh;
        left: 10%;
        right: 10%;
        height: auto;

        input {
            width: 100%;
        }

        h4 {
            color: $fox-red;
            margin-top: -10px;
            margin-bottom: 25px;
        }

    }

}

// Phones
@media screen and (max-width: $mobile-breakpoint - 1px){
    .filter {
        padding: 5% 5%;
        left: 5%;
        right: 5%;
    }
}