// Desktop
@media screen and (min-width: $tablet-breakpoint)
{

    .alarmtable
    {

        max-height: $main-element-size;
        overflow: scroll;

        thead 
        {
            border-top: solid $fox-red 2px;
            border-bottom: solid $fox-red 2px;
        }

        tbody
        {
            tr:nth-child(even)
            {
                background-color: $fox-light-gray;
            }

            tr:hover
            {
                background-color: $fox-light-gray;
                cursor: pointer;
            }
            tr.active
            {

                background-color: $fox-gray;
                color: white;
                .glyphicon { 
                    visibility: visible;
                    color: $fox-red;
                }
                button
                {
                    background: linear-gradient(0deg, $fox-dark-red, $fox-light-red);
                    color: white;
                    border: none;
                }
            }

        }

        // Hide columns that should only be visible on mobile devices
        .glyphicon
        {
            visibility: hidden;
        }
        .drop, .video
        {
            display: none;
        }

    }

}


// Mobile and tablet
@media screen and (max-width: $tablet-breakpoint - 1px)
{

    .alarmtable
    {

        max-height: 100vh - $navbar-mobile-height - $action-bar-mobile-height;
        overflow: hidden;
        text-align: left;

        thead
        {
            display: none;
        }

        tbody
        {
            td
            {
                display: none; 
            }
            td.date
            {
                display: block;
            }
        }

        // This line acts as a dropdown menu
        .date
        {
            border: solid $fox-gray 2px;
        }

    }


    .desktop-video-player
    {
        display: none;
    }

}