// Desktop
@media screen and (min-width: $tablet-breakpoint)
{

    .alarmtable
    {

        max-height: $main-element-size;
        overflow: scroll;

        thead 
        {
            border-top: solid $fox-red 2px;
            border-bottom: solid $fox-red 2px;
        }

        tbody
        {
            tr:nth-child(even)
            {
                background-color: $fox-light-gray;
            }

            tr:hover
            {
                background-color: $fox-light-gray;
                cursor: pointer;
            }
            tr.active
            {

                background-color: $fox-gray;
                color: white;
                .glyphicon { 
                    visibility: visible;
                    color: $fox-red;
                }
                button
                {
                    background: linear-gradient(0deg, $fox-dark-red, $fox-light-red);
                    color: white;
                    border: none;
                }
            }

        }

        // Hide columns that should only be visible on mobile devices
        .glyphicon
        {
            visibility: hidden;
        }
        .drop, .video
        {
            display: none;
        }

    }

}

@media screen and (max-width: $tablet-breakpoint - 1px)
{
    .alarm-accordion
    {
        // position: relative;
        // position: fixed;
        // top:0;
        z-index: 1;
        border: solid red 5px;
        height: 100vh - $header-height - $action-bar-mobile-height - 3vh - $navbar-tablet-height;
        overflow: scroll;

        .alarm-date
        {
            display: inline-block;
            width: 100%;
            border: solid $fox-gray 1px;
            padding: 1em;
        }

        .alarm-details
        {
            padding: 1em;
            border: solid $fox-gray 1px;
        }

    }
}

@media screen and (max-width: $mobile-breakpoint - 1px)
{
    .alarm-accordion
    {
        height: 100vh - $action-bar-mobile-height - $navbar-mobile-height - 2vh;
    }
}


