// Desktop devices
@media screen and (min-width: $tablet-breakpoint){


    .filter {
        border: solid $fox-gray 1px;
        margin-bottom: 15px;
        padding: 1%;
        background: $fox-light-gray;
        * {
            margin-right: 2%;
        }

        input {
            width: auto;
        }


    }

    .alarmtable {

        tbody {

            // Play icon
            .glyphicon {
                visibility: hidden;
                color: $fox-red;
            }
            
            // Selected alarm
            tr.active {

                background-color: $fox-gray;
                color: white;

                // Show the play icon
                .glyphicon {
                    visibility: visible;
                }

                button {
                    background: linear-gradient(0deg, $fox-dark-red, $fox-light-red);
                    color: white;
                    border: none;
                }
            }

        }

    }

}

.not-handled {
    color: $fox-red;
}

// Mobile devices
@media screen and (max-width: $tablet-breakpoint - 1px){

    .filter {
        position: absolute;
        border: solid #788493 1px;
        border-radius: 10px;
        background: rgba(200, 212, 217, 0.8);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 45vh;
        width: 80vw;
        padding: 5% 10%;
        box-shadow: 1px 1px 1px $fox-dark-gray;
        text-align: center;

        h4 {
            color: $fox-red;
            margin-top: -10px;
            margin-bottom: 25px;
        }

    }

}
