// Desktop devices
@media screen and (min-width: $tablet-breakpoint){

    .alarmtable {

        tbody {

            // Play icon
            .glyphicon {
                visibility: hidden;
                color: $fox-red;
            }
            
            // Selected alarm
            tr.active {

                background-color: $fox-gray;
                color: white;

                // Show the play icon
                .glyphicon {
                    visibility: visible;
                }

                button {
                    background: linear-gradient(0deg, $fox-dark-red, $fox-light-red);
                    color: white;
                    border: none;
                }
            }

        }

    }

}



