// Desktop
@media screen and (min-width: $tablet-breakpoint)
{

    .alarmtable
    {
        tbody
        {
            
            tr.active
            {

                background-color: $fox-gray;
                color: white;
                .glyphicon { 
                    visibility: visible;
                    color: $fox-red;
                }
                button
                {
                    background: linear-gradient(0deg, $fox-dark-red, $fox-light-red);
                    color: white;
                    border: none;
                }
            }

        }

        // Hide columns that should only be visible on mobile devices
        .glyphicon
        {
            visibility: hidden;
        }
        .drop, .video
        {
            display: none;
        }

    }

}

@media screen and (max-width: $tablet-breakpoint - 1px)
{

    .alarmlist
    {
        ul 
        {
            
        }
        li
        {
            display: inline-block;
            width: 100%;
            border: solid $fox-gray 1px;
            padding: 2vh 5vw;
            font-size: 1.4em;
            font-weight: bold;
        }
    }

}

@media screen and (max-width: $mobile-breakpoint - 1px)
{
    
}


