// Desktop devices
@media screen and (min-width: $tablet-breakpoint){


    .filter {
        border: solid $fox-gray 1px;
        margin-bottom: 15px;
        text-align: center;
        padding: 1%;
        background: $fox-light-gray;
        * {
            margin-right: 2%;
        }
    }

    .alarmtable {

        tbody {

            // Play icon
            .glyphicon {
                visibility: hidden;
                color: $fox-red;
            }
            
            // Selected alarm
            tr.active {

                background-color: $fox-gray;
                color: white;

                // Show the play icon
                .glyphicon {
                    visibility: visible;
                }

                button {
                    background: linear-gradient(0deg, $fox-dark-red, $fox-light-red);
                    color: white;
                    border: none;
                }
            }

        }

    }

}

.not-handled {
    color: $fox-red;
}

