// Desktop devices
@media screen and (min-width: $tablet-breakpoint){


    .filter {
        border: solid $fox-gray 1px;
        margin-bottom: 15px;
        padding: 1%;
        background: $fox-light-gray;
        * {
            margin-right: 2%;
        }

        input {
            width: auto;
        }


    }

    .alarmtable {

        tbody {

            // Play icon
            .glyphicon {
                visibility: hidden;
                color: $fox-red;
            }
            
            // Selected alarm
            tr.active {

                background-color: $fox-gray;
                color: white;

                // Show the play icon
                .glyphicon {
                    visibility: visible;
                }

                button {
                    background: linear-gradient(0deg, $fox-dark-red, $fox-light-red);
                    color: white;
                    border: none;
                }
            }

        }

    }

}

.not-handled {
    color: $fox-red;
}

// Mobile devices
@media screen and (max-width: $tablet-breakpoint - 1px){

    .filter {
        border: solid $fox-dark-gray 1px;
        border-radius: 10px;
        background: rgba($fox-light-gray, 0.8);
        padding: 5% 10%;
        box-shadow: 1px 1px 1px $fox-dark-gray;
        z-index: 2000;
        position: absolute;
        left: 10%;
        right: 10%;
        height: auto;

        input {
            width: 100%;
        }

        h4 {
            color: $fox-red;
            margin-top: -10px;
            margin-bottom: 25px;
        }

    }

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        z-index: 1000;
    }

}

// Phones
@media screen and (max-width: $mobile-breakpoint - 1px){
    .filter {
        padding: 5% 5%;
        left: 5%;
        right: 5%;
    }
}