/**
  * alarm date, site name in liveviewer, ...
  * Apply this class on h* elements for example
  * No margin is defined here : if needed, the bootstrap class "panel"
  * should be used on the parent element
  */
.block-header {
    display: inline-block;
    width: 100%;
    border: solid $fox-gray 1px;
    padding: 2vh 5vw;
    font-size: 1.2em;
    font-weight: bold;
}

// Bootstrap default margin is so big
.panel {
    margin-bottom: 2px;
    border: none;
}