/**
  * alarm date, site name in liveviewer, ...
  * Apply this class on h* elements for example
  * No margin is defined here : if needed, the bootstrap class "panel"
  * should be used on the parent element
  */
.block-header {
    position: relative;
    display: inline-block;
    width: 100%;
    border: solid $fox-gray 1px;
    padding: 2vh 5vw;
    font-size: 1.2em;
    font-weight: bold;
    background: white;

    .glyphicon { 
        color: $fox-red;
        position: absolute;
        top: 50%;
        right: 3%;
        @include transform(translate(0, -50%));
    }

}

// Bootstrap default margin is so big
.panel {
    margin-bottom: 2px;
    border: none;
}