input:not([type=checkbox])
{
    width: 100%;
}

input:focus
{
    border: solid 1px rgba($fox-red, 0.8) !important;
    box-shadow: 0 1px 1px rgba($fox-red, 0.1) inset, 0 0 8px rgba($fox-red, 0.6);
    outline: 0 none;
}

input[type=checkbox]
{
    @include transform(scale(1.5));
    margin-right: 5%;
}

button
{
    display: inline-block;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 0.5em;
    background-color: white;
    text-align: center;
    padding: 0;
    min-width: 7em;
    line-height: 1.5em;
}

button:hover
{
    font-weight: bold;
}

button.button-primary
{
    border-color: $fox-red;
    color: $fox-red;
}

button.button-secondary
{
    border-color: $fox-dark-gray;
    color: $fox-dark-gray;
    margin-right: 4%
}



// Desktop
@media screen and (min-width: $tablet-breakpoint)
{

    // When used inside a classic form display (not in table lines), form elements need more margin
    .form
    {

        button 
        {
            width: 48%;
            font-size: 1.2em;
        }

    }

    button
    {
        width: 10vw;
    }

    .divider // Easy way to create space between two buttons on a line
    {
        display: inline-block;
        width: 1vw;
    }



}


// Mobile and tablet
@media screen and (max-width: $tablet-breakpoint - 1px)
{

    button 
    {
        width: 48%;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.2em;
    }

    button.full-width
    {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }


    .divider // Easy way to create space between two buttons on a line
    {
        display: inline-block;
        width: 4%;
    }

}
