input
{
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
}

label, button
{
    margin-bottom: 1vh;
}

button
{
    border-style: solid;
    border-width: 0.2em;
    border-radius: 0.5em;
    background-color: white;
    text-align: center;
    padding: 0;
    min-width: 8em;
}

button:hover
{
    font-weight: bold;
}

button.button-red
{
    border-color: $fox-red;
    color: $fox-red;
}

button.button-gray
{
    border-color: $fox-gray;
    color: $fox-gray;
}

// Desktop
@media screen and (min-width: $breakpoint)
{

    form 
    {
        margin: auto;
        width: 50%;
    }

    label
    {
        margin-top: 1vh;
    }


    button
    {
        margin-top: 1vh;
        width: 10vw;
    }

}

// Mobile
@media screen and (max-width: $breakpoint - 1px)
{

    label
    {
        margin-top: 5vh;
        text-indent: 5vw;
    }

    button 
    {
        width: 45%;
        margin-top: 3vh;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.2em;
    }

    button.full-width
    {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .divider // Easy way to put space between two buttons on a line
    {
        display: inline-block;
        width: 10%;
    }
}
