/**
  * Many rules to style form elements
  */


input:not([type=checkbox]){
    width: 100%;
}

// Checkboxes are not big enough (in tables for example)
input[type=checkbox]{ 
    @include transform(scale(1.5));
    margin-right: 5%;
}

// Overriding bootstrap blue glow on focus
input:focus {
    border: solid 1px rgba($fox-red, 0.8) !important;
    box-shadow: 0 1px 1px rgba($fox-red, 0.1) inset, 0 0 8px rgba($fox-red, 0.6);
    outline: 0 none;
}



button {
    display: inline-block;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 0.5em;
    background-color: white;
    text-align: center;
    padding: 0;
    min-width: 7em;
    line-height: 1.5em;
}


button.button-primary {
    border-color: $fox-red;
    color: $fox-red;
}

button.button-secondary {
    border-color: $fox-dark-gray;
    color: $fox-dark-gray;
    margin-right: 4%
}



// Desktop devices
@media screen and (min-width: $tablet-breakpoint){

    button {
        min-width: 10vw;
        padding: 0 5%;
    }

}


// Tablets and phones
@media screen and (max-width: $tablet-breakpoint - 1px){

    // Default : two buttons of the same size on one line
    button {
        width: 48%; 
        margin-left: 0;
        margin-right: 0;
        font-size: 1.2em;
    }

    // Bigger button, alone on a line
    button.full-width {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

}
