header {
    position: relative;
    height: $header-height;
    line-height: $header-height;
    vertical-align: middle;

    img {
        display: inline-block;
        height: 90%;
        position: relative;
        left: 2%;
    }

    h1 {
        display: inline;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(0,-50%);
        margin: 0;
        padding: 0;
    }

    .connection-errors {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        .alert.alert-danger {
            width: 50vw;
            line-height: 0;
            margin: 1% 0;
            padding: 2%;
            color: white;
            background-color: $fox-red;
        }

    }

} 