.imagecanvas {
       width: 100%;
       height: auto;
       border:2px outset $fox-gray;
}

#play_controller {
    text-align: center;

    button {
        width: auto;
        min-width: 0;
        padding: 0 10px;
        border: none;
        background: transparent;
        font-size: 1.5em;
        color: $fox-dark-gray;
    }

    button#osd {
        position: absolute;
        right: 30px;
    }

    .progress {
        margin: 0;
        background: none;

        .progress-bar {
            background-color: $fox-gray;
        }

    }

}


@media screen and (min-width: $tablet-breakpoint) {
    #play_controller .osd {
        button {

        }
    }
}


@media screen and (max-width: $tablet-breakpoint - 1px)
{
    .imageplayer {
        width: 100%;
    }

}

@media screen and (max-width: $mobile-breakpoint - 1px){
    #play_controller .osd {
        button {
        }
    }
}