// Maybe try to refactor, these rules are nearly the same as the ones used to style mobile
// alarm list

#camera-list {

    height: $main-element-size;
    overflow: scroll;

    .cam {
        text-align: center;
        margin-bottom: 5vh;
    }

    .camera-image {
        display: inline-block;
        width: 25vh;
    }

    .camera-image:hover {
        cursor: pointer;
        font-weight: bold;
    }

}


.live-canvas {
    padding: 2%;
    text-align: center;
    box-shadow: 0 0 5px white;

    img {
        height: 50vh;
    }

    .liveplayer {
        width: 100%;

        img {
            display: inline-block;
        }

    }

}

// Desktop
@media screen and (min-width: $tablet-breakpoint){
    #camera-list {

        .cam {

            position: relative;

            .camera-image {
                display: inline-block;
                width: 100%;
            }

            .player-controls {
                position: absolute;
                bottom: 0;
                background: rgba($fox-gray, 0.5);
                left: 15px;
                right: 15px;
                color: white;

                .glyphicon {
                    position: absolute;
                    top: 50%;
                    @include transform(translate(0, -50%));                    
                }

                .glyphicon-play {
                    left: 5%;
                }

                .glyphicon-fullscreen {
                    right: 5%;
                }

            }

        }

    }
}