// Maybe try to refactor, these rules are nearly the same as the ones used to style mobile
// alarm list

#camera-list {

    overflow: scroll;

    .camera-picker {
        width: 100%;
    }

    .big-playing-indicator {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        font-size: 3em;
        color: white;
    }

    .liveplayer {
        display: inline-block;
        margin: 0 1% 5vh 1%;
        position: relative;
        text-align: center;
        height: 240px;
        line-height: 240px;
        background-color: black;

        .player-controls {
            position: absolute;
            bottom: 0;
            background: rgba($fox-gray, 0.8);
            left: 0;
            right: 0;
            color: white;

            .glyphicon {
                position: absolute;
                top: 50%;
                @include transform(translate(0, -50%));                    
            }

            .glyphicon:hover {
                cursor: pointer;
                font-weight: bold;
            }

            .glyphicon-play, .glyphicon-stop {
                left: 5%;
            }

            .glyphicon-fullscreen {
                right: 5%;
            }

    }

    .camera-image {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
    }

    .camera-image:hover {
        cursor: pointer;
        font-weight: bold;
    }

    // TODO
    .fullscreen {
        // display: block;
    }


    }


}

// Desktop
@media screen and (min-width: $tablet-breakpoint){
    .liveplayer {
        width: 23%;
    }
}

@media screen and (max-width: $tablet-breakpoint - 1px){

    #camera-list {
        // ??DELETE
        // height: 100vh 
        // - $navbar-tablet-height 
        // - $action-bar-tablet-height 
        // - $header-height 
        // - 4vh;
    }

    .liveplayer {
        width: 48%;
    }
}

@media screen and (max-width: $mobile-breakpoint - 1px){

    #camera-list {
        // ??DELETE
        // height: 100vh 
        // - $navbar-mobile-height 
        // - $action-bar-tablet-height 
        // - 4vh;
    }
}

@media screen and (max-width: $small-phones-breakpoint - 1px){

    #camera-list {
        // ??DELETE
        // height: 100vh 
        // - $navbar-mobile-height 
        // - $action-bar-tablet-height 
        // - 4vh;
    }


    .liveplayer {
        width: 98%;
    }
}


