// Maybe try to refactor, these rules are nearly the same as the ones used to style mobile
// alarm list

#camera-list {

    height: $main-element-size;
    overflow: scroll;

    .camera-picker {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .big-playing-indicator {
        display: none;
        position: absolute;
        top: 45%;
        left: 50%;
        @include transform(translate(-50%));
        font-size: 3em;
        color: white;
    }

    .liveplayer {
        margin: 1% 1% 5vh 1%;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 200px;
        position: relative;
        text-align: center;
        height: 18vw;
        line-height: 18vw;
        background-color: black;

        .player-controls {
            position: absolute;
            bottom: 0;
            background: rgba($fox-gray, 0.8);
            left: 0;
            right: 0;
            color: white;

            .glyphicon {
                position: absolute;
                top: 50%;
                @include transform(translate(0, -50%));                    
            }

            .glyphicon:hover {
                cursor: pointer;
                font-weight: bold;
            }

            .glyphicon-play, .glyphicon-stop {
                left: 5%;
            }

            .glyphicon-fullscreen {
                right: 5%;
            }

    }

    .camera-image {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
    }

    .camera-image:hover {
        cursor: pointer;
        font-weight: bold;
    }

    // TODO
    .fullscreen {
        // display: block;
    }


    }

}