// Maybe try to refactor, these rules are nearly the same as the ones used to style mobile
// alarm list

#camera-list {

    height: $main-element-size;
    overflow: scroll;

    .site-name {
        display: inline-block;
        width: 100%;
        border: solid $fox-gray 1px;
        padding: 2vh 5vw;
        font-size: 1.4em;
        font-weight: bold;  
    }

    .cam {
        text-align: center;
        height: 20vh;
        margin-bottom: 5vh;
    }

    .camera-image {
      display: inline-block;
        height: 100%;
    }

    .camera-name {
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translate(-50%);
      padding: 1% 3%;
      border-radius: 15%;
      background-color: rgba(230, 66, 36, 0.4);
    }

    .camera-image:hover {
        cursor: pointer;
        font-weight: bold;
    }

    .live-canvas {
        text-align: center;
        box-shadow: 0 0 5px white;
    }

    .live-canvas img {
        height: 50vh;
    }

}
