/*
**************************************************************** SASS variables
*/

// ------------------------------------------   Colors
$fox-red:#e44333;
$fox-dark-red:#cf3c2d;
$fox-light-red: #ff6151;
$fox-dark-gray:#566171;
$fox-gray: #788493;
$fox-light-gray: #c8d4d9;

// ------------------------------------------ Resopnsive breakpoints
$tablet-breakpoint: 992px;
$mobile-breakpoint: 768px;
$small-phones-breakpoint: 600px;

// ------------------------------------------  Fonts

// ------------------------------------------  Main elements sizes
// Keeping everything as a variable helps defining other element sizes,
// see .main-element below
$header-height: 12vh; 
$navbar-desktop-height: 6vh;
$navbar-mobile-height: 10vh;
$navbar-tablet-height: 6vh;
$action-bar-mobile-height: 10vh;
$tabs-height: 5vh;
$tabs-margin-bottom: 1vh;
// Main elements (alarm table, canera accordion, ...)
$main-element-size: 70vh;


/*
**************************************************************** Main rules
*/

html {
    overflow: hidden; // Prevent overscrolling
}

@media screen and (min-width: $tablet-breakpoint){
    body {
        font-size: 14px;
    }
}
@media screen and (max-width: $tablet-breakpoint - 1px){
    body {
        font-size: 14px;
    }
}
@media screen and (max-width: $small-phones-breakpoint - 1px){
    body {
        font-size: 12px;
    }
}

body {
    height: 100%;
    padding: 1vh 0 0 0;
    box-sizing: border-box; // Or padding messes up the height
    overflow: auto;
    margin: 0;
}

a, a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

ul {
    padding: 0;
    list-style: none;
    vertical-align: middle;
}

// App name in header or on login page on mobile devices
.app-name {
    font-size: 1.5em;
    color: $fox-red;
}

// Add margin on desktop devices
@media screen and (min-width: $tablet-breakpoint){
    .content {
        // margin-top: 10vh; 
    }
}

// On mobile devices, remove the padding set by bootstrap
@media screen and (max-width: $mobile-breakpoint - 1px){
    .col-xs-12 {
        padding: 0;
    }
}

/* Main elements on mobile devices : 
   should be exactily big enough to fit on page */
@media screen and (max-width: $tablet-breakpoint - 1px)
{
    .main-element {
        height: 100vh 
            - $navbar-tablet-height 
            - $action-bar-mobile-height 
            - $header-height 
            - $tabs-height
            - $tabs-margin-bottom
            - 4vh;
        overflow: scroll;
    }
}

@media screen and (max-width: $mobile-breakpoint - 1px)
{
    .main-element {
        height: 100vh
            - $navbar-mobile-height
            - $action-bar-mobile-height
            - $tabs-height
            - $tabs-margin-bottom
            - 1vh;
    }
}


/*
**************************************************************** Imports
*/
@import "mixins.scss";
@import "swiper.scss";
@import "form.scss";
@import "table.scss";
@import "header.scss";
@import "navbar.scss";
@import "action-buttons.scss";
@import "login.scss";
@import "alarms.scss";
@import "imageplayer.scss";
@import "live.scss";
@import "settings.scss";
@import "tabs.scss";
@import "block-header.scss";
@import "notifications.scss";