// ******************************************* SASS variables

// Colors
$fox-red:#e44333;
$fox-dark-red:#cf3c2d;
$fox-light-red: #ff6151;
$fox-dark-gray:#566171;
$fox-gray: #788493;
$fox-light-gray: #c8d4d9;


// Font

// Block sizes
$header-height: 12vh;
$navbar-desktop-height: 6vh;
$navbar-mobile-height: 12vh;
$navbar-tablet-height: 6vh;
$action-bar-mobile-height: 10vh;

// This is used to set the height of important elements
// such as the alarm table
$main-element-size: 70vh;


// Resopnsive design
$tablet-breakpoint: 992px;
$mobile-breakpoint: 768px;

// ******************************************* General rules

html
{
    height: 100vh;
    overflow: hidden;
}

body 
{
    padding: 1vh 0 0 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

a:link, a:visited, a:hover, a:active
{
    color: black;
    text-decoration: none;
}

a:hover 
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

ul
{
    padding: 0;
    list-style: none;
    vertical-align: middle;
}

.app-name // App name in header or on login page on mobile devices
{
    font-size: 1.5em;
    color: $fox-red;
}

@media screen and (min-width: $tablet-breakpoint)
{
    .container-fluid.content
    {
        margin-top: 10vh;
    }
}

table
{
    width: 100%;
    text-align: center;
}

td
{
    padding: 0.4em;
    min-width: 1em;
}

th 
{
    font-weight: normal;
    padding: 0.4em;
    text-align: center;
}


// On mobile devices, remove the padding set by bootstrap
@media screen and (max-width: $mobile-breakpoint - 1px)
{
    .col-xs-12
    {
        padding: 0;
    }
}


// ************************************************** Action bar
.actions
{
    width: 100%;
}

@media screen and (min-width: $tablet-breakpoint)
{
    .actions
    {
        text-align: right;
        padding-right: 2%;
        margin-bottom: 2vh;
    }
}

@media screen and (max-width: $tablet-breakpoint - 1px)
{
    .actions
    {
        height: $action-bar-mobile-height;
        line-height: $action-bar-mobile-height;

        button
        {
            line-height: 1.5em;
        }

    }
}

// *********************************************** Imports

@import "mixins.scss";
@import "swiper.scss";
@import "form.scss";
@import "header.scss";
@import "navbar.scss";
@import "login.scss";
@import "alarms.scss";
@import "imageplayer.scss";
@import "live.scss";




.form-input{
    max-width:350px;
    margin-left:auto;
    margin-right:auto;        
}

.space-before{
    margin-top:20px;
}

.alarmtable {
    max-height:800px;
    overflow-y:scroll;
}