nav {
    width: 100vw;

    ul {

        li {
            display: inline-block;
            text-align: center;

            a:link, a:visited, a:hover, a:active {
                display: inline-block;
                width: 100%;
                height: 100%;
            }

        } 

    }

}


.navbar-notif {
    display: inline-block;
    height: 1.6em;
    width: 1.6em;
    position: absolute;
    line-height: 1.6em;
}


// Tablet
@media screen and (max-width: ($tablet-breakpoint - 1px)){
    
    nav::before {
        display: block;
    }

    nav {
        height: $navbar-tablet-height;
        position: fixed;
        bottom: 0;
        z-index: 1000;
        text-align: center;
        border-top: solid $fox-gray 2px;
        background: rgba(white, $alpha);

        ul {
            height: $navbar-tablet-height;
            line-height: $navbar-tablet-height;
            position: relative;
            z-index: 1002;

            li {
                width: 15vw;
                font-weight: bold;
                position: relative;

                i.glyphicon {
                    display: inline-block;
                    font-size: $navbar-tablet-height / 3;
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    @include transform(translate(-50%));
                }

                // Text (the "a" tag contains the text and the icon)
                .link {
                    display: inline-block;
                    line-height: normal;
                    position: absolute;
                    // Centered link
                    left: 50%;
                    @include transform(translate(-50%));
                    bottom: 10%;
                }

            }

            li.active a {
                color: $fox-red;
            }

        }

        .submenu {
            display: none;
        }

    }

    // Don't show the navigation bar on mobile
    nav.nav-connection {
        display: none;
    }

    .navbar-notif {
        background: $fox-red;
        color: white;
        left: 50%;
        top: 10%;
        border-radius: 0.8em;
    }

}

// Mobile
@media screen and (max-width: ($small-phones-breakpoint - 1px)){
    nav {
        height: $navbar-mobile-height;
        ul {
            height: $navbar-mobile-height;
            line-height: $navbar-mobile-height;

            li {
                width: 33.3vw;

                i.glyphicon {
                    font-size: $navbar-mobile-height / 3;
                }

            }

        }

    }

}




// Desktop
@media screen and (min-width: $tablet-breakpoint){
    nav {
        margin-bottom: 5vh;
        height: $navbar-desktop-height;
        margin-top: 1vh;
        text-align: right;
        background-color: $fox-red;
        color: white;
        height: $navbar-desktop-height;
        line-height: $navbar-desktop-height;
        padding-right: 3%;

        ul {

            li {
                width: 8%;
                position: relative;
                border-left: solid rgb(234, 83, 61) 1px;
                border-right: solid rgb(234, 83, 61) 1px;

                a:link, a:visited, a:hover, a:active {
                    color: white;
                    font-weight: normal;
                }

                i.glyphicon {
                    display:none;
                }

            }
            li:hover {
                background-color: $fox-dark-red;
                cursor: pointer;
            }
            li.active {
                background-color: $fox-dark-red;
            }
            // Arrow under active item
            li.active::after {
                content: ' ';
                position: absolute;
                top: $navbar-desktop-height;
                left: 50%;
                transform: translate(-50%);
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 9px solid $fox-dark-red;
            }
            li.active:hover::after {
                border-top: 8px solid $fox-dark-red;
            }
        }

        .submenu {
            display: block;
            position: absolute;
            right: 0;
            z-index: 10;
            background-color: $fox-red;
            min-width: 200px;

            ul {
                width: 100%;
                li {
                    width: 100%;
                    display: block;
                    text-align: left;
                    text-indent: 5%;
                }
                li.active::after {
                    display:none;
                }
            }

        }

        .navbar-notif {
            background: $fox-dark-red;
            color: white;
            right: 0;
            top: 0;
            border-left: solid rgb(234, 83, 61) 1px;
            border-bottom: solid rgb(234, 83, 61) 1px;
            border-bottom-left-radius: 0.8em;
        }

    }
}

