@media screen and (max-width: $tablet-breakpoint - 1px){

    .notifications {
        position: fixed;
        bottom: 0;
        width: 100vw;
        border-top: solid $fox-dark-gray 1px;
        background: rgba($fox-light-gray, 0.8);
        z-index: 1000;
        height: $navbar-tablet-height;
        line-height: $navbar-tablet-height;
        padding: 0 3%;
        color: $fox-red;
        text-align: left;

        i {
            font-size: 1.3em;
            position: absolute;
            right: 3%;
            top: 50%;
            @include transform(translate(-50%, -50%));
        }

    }

}

@media screen and (max-width: $mobile-breakpoint - 1px){
    .notifications {
        height: $navbar-mobile-height;
        line-height: $navbar-mobile-height;
    }
}





