.swiper
{
    border: solid red 1px;
    overflow-x: hidden;
    width: 100%;
    white-space: nowrap;
    height: 100%;
}

@media screen and (max-width: $tablet-breakpoint - 1px)
{
    .swiper
    {
        height: 100vh - $header-height - $action-bar-mobile-height - 8vh - $navbar-tablet-height;
    }
}

@media screen and (max-width: $mobile-breakpoint - 1px)
{
    .swiper
    {
        height: 100vh - $action-bar-mobile-height - $navbar-mobile-height - 5vh;
    }
}



.slides-container
{
    position: relative;
}

.slide {
    border: solid blue 1px;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
}