.swiper {
    border: solid $fox-gray 1px;
    overflow-x: hidden;
    width: 100%;
    white-space: nowrap;
    height: 100%;
}

@media screen and (max-width: $tablet-breakpoint - 1px) {
    .swiper {
        height: 100vh 
            - $header-height 
            - $action-bar-mobile-height 
            - 8vh 
            - $navbar-tablet-height
            - $tabs-height;
    }
}

@media screen and (max-width: $mobile-breakpoint - 1px) {
    .swiper {
        height: 100vh 
            - $action-bar-mobile-height 
            - $navbar-mobile-height 
            - $tabs-height
            - 5vh;
    }
}

.slides-container {
    height: 100%;
    position: relative;
}

.slide {
    padding: 1%;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1.3em;
    position: relative;
    background: white;
    border-radius: 5px;

    .imageplayer, .liveplayer {
        height: 70%;
        text-align: center;

        .imagecanvas, img {
            text-align: center;
            height: 80%;
            width: auto;
        }

        .play_controller {
            height: 20%;
        } 
    }



    ul {
        position: absolute;
        bottom: 0;
        padding: 5%;
        li {
            text-indent: 0.2em;
            line-height: 1.3em;     
        }
    }
}