
/**
  * Scrollable wrapper div for tables
  */ 
.table-container {

    // Scrollable div
    max-height: 60vh;
    overflow-y: scroll;

    table {
        width: 100%;
        text-align: center;

        thead {
            border-top: solid $fox-red 2px;
            border-bottom: solid $fox-red 2px;

            th {
                font-weight: normal;
                padding: 0.4em;
                text-align: center; // Necessary to overwrite bootstrap default
            }

        }

        tbody {

            td {
                padding: 0.4em;
                min-width: 1em;
            }

            tr:nth-child(even){
                background-color: $fox-light-gray;
            }

            tr:hover {
                background-color: $fox-light-gray;
                cursor: pointer;
            }
        }

    }

}



