/**
  * Scrollable wrapper div for tables
  */ 
.table-container {

    width: 100%;

    table {
        width: 100%;
        text-align: center;

        thead {
            border-top: solid $fox-red 2px;
            border-bottom: solid $fox-red 2px;

            th {
                font-weight: normal;
                padding: 0.4em;
                text-align: center; // Necessary to overwrite bootstrap default
            }

        }

        tbody {

            tr {
                height: 2.5em;

                td {
                    padding: 0.4em;
                    min-width: 1em;
                }

            }

        }

    }

}

/* Line colors 
   Not applied in .table-container, because these rules would 
   be too specific to be overwritten elsewhere (i.e. alarmtable) */
tr:nth-child(even){
    background-color: $fox-light-gray;
}

tbody tr:hover {
    background-color: $fox-light-gray;
    cursor: pointer;
}

