.table
{
    max-height: 60vh;
    overflow-y: scroll;

    thead
    {
        border-top: solid $fox-red 2px;
        border-bottom: solid $fox-red 2px;
    }

    tbody
    {

        .lineheader
        {
            display: none;
        }

        tr:nth-child(even)
        {
            background-color: $fox-light-gray;
        }

        tr:hover
        {
            background-color: $fox-light-gray;
            cursor: pointer;
        }
    }

}

@media screen and (max-width: $tablet-breakpoint - 1px)
{
    .responsive-table
    {

        table, thead, tbody, th, td, tr { 
            display: block; 
        }

        thead
        {
            display: none;
        }

        tbody
        {

            tr 
            {
                border: solid $fox-gray 1px;
            }

            .lineheader
            {
                display: block;
                border: solid $fox-gray 1px;
                padding: 2vh 5vw;
                font-size: 1.4em;
                font-weight: bold;
            }

            td 
            {
                border: none;
                position: relative;
                padding-left: 50%;
                height: 50px;
            }

            td:before
            {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 45%; 
                padding-right: 10px; 
                white-space: nowrap;
            }

        }


    }
}



