.tabs {

    margin-bottom: 15px;

    li {
        display: inline-block;
        padding: 5px 10px;
    }

    li:hover {
        cursor: pointer;
    }

    .active {
        border-bottom: solid $fox-red 3px;
        color: $fox-red;
    }
}

@media screen and (max-width: $tablet-breakpoint - 1px){
    .tabs {
        width: 100%;
        li {
            width: 50%;
            text-align: center;
        }
    }

}