.tabs {

    height: $tabs-height;
    line-height: $tabs-height;

    li {
        display: inline-block;
        padding: 0 10px;
    }

    li:hover {
        cursor: pointer;
    }

    .active {
        border-bottom: solid $fox-red 3px;
        color: $fox-red;
        background: rgba(white, 0.9);
    }
}

// Mobile devices
@media screen and (max-width: $tablet-breakpoint - 1px){
    
    .tabs {
        position: fixed; 
        top: $action-bar-mobile-height;
        left: 0;
        right: 0;
        padding: 0 30px;
        background: rgba(white, $alpha);
        z-index: 1000;

        li {
            width: 50%;
            text-align: center;
        }
    }

}