.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    z-index: 1000;

    img {
        display: inline-block;
        width: 80%;
    }
}

.imageplayer {

    position: relative;
    height: auto;
    background-color: black;

    .imagecanvas {
        background-color: black;
        margin: auto;
    }

    .alarm-info, .player-controls {
        position: absolute;
        background: rgba($fox-gray, 0.8);
        left: 0;
        right: 0;
        color: white;
    }

    .alarm-info {
        top: 0;
        height: 2.3em;
        line-height: 2.3em;
        text-align: center;
    }

    .player-controls {

        bottom: 0;
        height: 2.3em;
        line-height: 2.3em;

        .glyphicon {
            padding: 2%;
            position: absolute;
            top: 50%;
        }

        .glyphicon:hover {
            cursor: pointer;
            font-weight: bold;
        }

        .glyphicon-play, .glyphicon-pause, .glyphicon-stop {
            left: 50%;
            @include transform(translate(-50%, -50%));
        }

        .glyphicon-step-backward {
            left: 40%;
            @include transform(translate(-50%, -50%));
        }

        .glyphicon-step-forward {
            left: 60%;
            @include transform(translate(-50%, -50%));
        }

        .glyphicon-sunglasses {
            right: 15px;
            @include transform(translate(0, -50%));
        }

        .osd-icon {
            display: inline-block;
            height: 88%;
            margin-top: 2px;
            float: right;
            margin-right: 10px;
        }

        .osd-icon:hover {
            cursor: pointer;
        }

        .progress-bar {
            position: absolute;
            top: -15px;
            height: 15px;
            left: 0;
            right: 0;
            background-color: red;
        }

    }

}

@media screen and (max-width: $tablet-breakpoint - 1px) and (orientation: portrait){
    .alarm-info {
        visibility: hidden;
    }
}

// Desktop devices
@media screen and (min-width: $tablet-breakpoint){

    .imagecanvas {
        width: 100%;
    }

    .filter {

        border: solid $fox-gray 1px;
        margin-bottom: 15px;
        padding: 1% 3%;
        background: #e0e0e0;
        line-height: 200%;

        * {
            margin-right: 2%;
        }

        input {
            width: auto;
            line-height: normal;
        }

        button {
            float: right;
        }

        // float: right on button makes the div smaller : this hacky thing fixes it
        form:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

    }

    .alarmtable {

        table {
            // table-layout: fixed;
            width: 100%;

            td:nth-child(1), th:nth-child(1){
                width: 5%;
            }
            td:nth-child(2), th:nth-child(2){
                width: 5%;
            }
            td:nth-child(3), th:nth-child(3){
                width: 25%;
            }
            td:nth-child(4), th:nth-child(4){
                width: 20%;
            }
            td:nth-child(5), th:nth-child(5){
                width: 25%;
            }
            td:nth-child(6), th:nth-child(6){
                width: 20%;
            }

        }

        tbody {

            width: 100%;

            // Play icon
            .glyphicon {
                visibility: hidden;
                color: $fox-red;
            }
            
            // Selected alarm
            tr.active {

                // Show the play icon
                .glyphicon {
                    visibility: visible;
                }

                button {
                    background: linear-gradient(0deg, $fox-dark-red, $fox-light-red);
                    color: white;
                    border: none;
                }
            }

        }

    }

}

.not-handled {
    color: $fox-red;
}

// Tablets
@media screen and (max-width: $tablet-breakpoint - 1px){

    .filter {
        border: solid $fox-dark-gray 1px;
        border-radius: 10px;
        background: rgba($fox-light-gray, 0.8);
        padding: 5% 10%;
        box-shadow: 1px 1px 1px $fox-dark-gray;
        z-index: 2000;
        position: absolute;
        top: 10vh;
        left: 10%;
        right: 10%;
        height: auto;

        input {
            width: 100%;
        }

        h4 {
            color: $fox-red;
            margin-top: -10px;
            margin-bottom: 25px;
        }

    }

}

// Phones
@media screen and (max-width: $mobile-breakpoint - 1px){
    .filter {
        padding: 5% 5%;
        left: 5%;
        right: 5%;
    }
}