/**
  * alarm date, site name in liveviewer, ...
  * Apply this class on h* elements for example
  * No margin is defined here : if needed, the bootstrap class "panel"
  * should be used on the parent element
  */
.block-header {
    position: relative;
    display: inline-block;
    font-weight: bold;
    width: 100%;
    border: solid $fox-light-gray 1px;
    padding: 0.5em 1em;
    height: 3.2em;
    line-height: 2.1em;
    background: white;
    margin-bottom: 0.4em;

    b {
        display: inline-block;
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .glyphicon { 
        position: absolute;
        top: 50%;
        right: 3%;
        @include transform(translate(0, -50%));
    }

}

.block-header:after {
    font-family: 'Glyphicons Halflings'; 
    content: "\e258";
    float: right;
}
.block-header[data-toggle="collapse"].collapsed:after {
    font-family: 'Glyphicons Halflings'; 
    content: "\e259";
    float: right;
}
.block-header[data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings'; 
    content: "\e260";
    float: right;
}

// Bootstrap default margin is so big
.panel {
    margin-bottom: 2px;
    border: none;
}

@media screen and (min-width: $tablet-breakpoint){
    .block-header {
        font-size: 1.2em;
        border-color: $fox-gray;
    }
}