/**
  * Many rules to style form elements
  */

input:not([type=checkbox]){
    width: 100%;
}

input[type=checkbox]{
    margin-right: 10px;
}

// Checkboxes are not big enough (in tables for example)
input[type=checkbox]{ 
   transform: scale(1.5);
}

// Overriding bootstrap blue glow on focus
input:focus {
    border: solid 1px rgba($fox-red, 0.8) !important;
    box-shadow: 0 1px 1px rgba($fox-red, 0.1) inset, 0 0 8px rgba($fox-red, 0.6);
    outline: 0 none;
}

button.icon {
    min-width: 0;
    width: 2em;
    padding: 0 1%;
}

button {
    display: inline-block;
    height: 1.8em;
    border: none;
    border-radius: 0.5em;
    background-color: white;
    text-align: center;
    min-width: 7em;
    line-height: 1.5em;
    outline: none;
    color: white;
}

button:focus {
    outline: none;
}


button.button-primary {
    // background: linear-gradient(0deg, $fox-dark-red, $fox-light-red);
    background: $fox-red;
    border: none;
    height: 1.8em;
}

button.button-secondary {
    background: $fox-dark-gray;
    border: none;
    margin-right: 4%;
    height: 1.8em;
}

button.button-primary-nofill {
    color: $fox-red;
    border-color: $fox-red;
    border-style: solid;
    border-width: 0.2em;
}

button.button-secondary-nofill {
    color: $fox-dark-gray;
    margin-right: 4%;
    border-color: $fox-dark-gray;
    border-style: solid;
    border-width: 0.2em;
}

button.back {
    position: relative;
    border-left: transparent 
}

// Arrow
button.back::before {
    position: absolute;
    content: ' ';
    top: 0.25em;
    left: -0.3em;
    height: 1.27em;
    width: 1.27em;
    background: $fox-dark-gray;
    border-top-left-radius: 0.6em;
    -webkit-transform : rotate(-45deg);

}

// Desktop devices
@media screen and (min-width: $tablet-breakpoint){

    button {
        min-width: 10vw;
        padding: 0 5%;
    }

    button.submit {
        float: right;
    }

}


// Tablets and phones
@media screen and (max-width: $tablet-breakpoint - 1px){

    .main-element form {
        padding: 45px 15px;
        background-color: white;
        border: solid $fox-gray 1px;
        border-radius: 5px;
        height: 100%;
    }

    // Default : two buttons of the same size on one line
    button {
        width: 48%; 
        margin-left: 0;
        margin-right: 0;
        font-size: 1.2em;
    }

    // Bigger button, alone on a line
    button.full-width {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

}