.help-container {
    position: relative;
    z-index: 10000 !important; // Ugly...
}

.help {
    position: absolute;
    top: 3px;
    color: white;
    background: $fox-light-red;
    padding: 6px 15px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    line-height: 18px;
    z-index: 10000;
    text-align: justify;
    font-weight: normal;
    font-size: 14px;
    transition: 0.2s linear all;
    opacity: 1;
}

// For angular animation
.help.ng-hide {
    opacity: 0;
}

.help.right {
    left: 102%;
}
.help.inside {
    right: 10px;
}
.help.left {
    left: -205px;
}

.help.right:before, .help.inside:before {
    position: absolute;
    top: 0;
    left: -15px;
    display: block;
    content: ' ';
    border-top: solid;
    width: 0;
    height: 0;
    border-top: solid transparent 15px;
    border-bottom: solid transparent 15px;
    border-right: solid $fox-light-red 15px;
    box-shadow: none;
}

.help.left:after {
    position: absolute;
    top: 0;
    right: -15px;
    display: block;
    content: ' ';
    border-top: solid;
    width: 0;
    height: 0;
    border-top: solid transparent 15px;
    border-bottom: solid transparent 15px;
    border-left: solid $fox-light-red 15px;
    box-shadow: none;
}