.help-container {
    position: relative;
    z-index: 10000 !important; // Ugly...
}

.help {
    position: absolute;
    top: 3px;
    color: white;
    background: $fox-light-red;
    padding: 5px 15px;
    border-radius: 3px;
    width: auto;
    min-width: 300px;
    max-width: 400px;
    line-height: 1.5;
    z-index: 10000;
    text-align: justify;
    font-weight: normal;
    font-size: 14px;
    transition: 0.2s linear all;
    opacity: 1;
}

// For angular animation
.help.ng-hide {
    opacity: 0;
}

.help.right {
    left: 102%;
}
.help.inside {
    right: 10px;
}
.help.left {
    left: -205px;
    top: 30px;
    width: 200px;
}

.help.right:before, .help.inside:before {
    position: absolute;
    top: 3px;
    left: -12px;
    display: block;
    content: ' ';
    border-top: solid;
    width: 0;
    height: 0;
    border-top: solid transparent 12px;
    border-bottom: solid transparent 12px;
    border-right: solid $fox-light-red 12px;
    box-shadow: none;
}

.help.left:after {
    position: absolute;
    top: 3px;
    right: -12px;
    display: block;
    content: ' ';
    border-top: solid;
    width: 0;
    height: 0;
    border-top: solid transparent 12px;
    border-bottom: solid transparent 12px;
    border-left: solid $fox-light-red 12px;
    box-shadow: none;
}