.help-container {
    position: relative;
    z-index: 10000 !important; // Ugly...
}

.help {
    position: absolute;
    top: 3px;
    color: white;
    background: $fox-light-red;
    padding: 6px 15px;
    min-width: 250px;
    max-width: 300px;
    line-height: 18px;
    z-index: 10000;
    text-align: justify;
    font-weight: normal;
    font-size: 14px;
    transition: 0.2s linear all;
    opacity: 1;
    box-shadow: 0 0 4px white;
}

// For angular animation
.help.ng-hide {
    opacity: 0;
}

.help.right {
    left: 100%;
    transform: translateX(15px);
}
.help.inside {
    right: 10px;
}
.help.left {
    left: 0;
    transform: translateX(-105%);
}
.help.y-offset {
    top: 100px;
}
.help.small {
    min-width: 150px;
    width: 150px;
}
.help.floating {
    position: fixed;
    top: 25vh;
    right: 10vw;
}

.help.right:before, .help.inside:before {
    position: absolute;
    top: 0;
    left: -15px;
    display: block;
    content: ' ';
    border-top: solid;
    width: 0;
    height: 0;
    border-top: solid transparent 15px;
    border-bottom: solid transparent 15px;
    border-right: solid $fox-light-red 15px;
    box-shadow: none;
}

.help.left:after {
    position: absolute;
    top: 0;
    right: -15px;
    display: block;
    content: ' ';
    border-top: solid;
    width: 0;
    height: 0;
    border-top: solid transparent 15px;
    border-bottom: solid transparent 15px;
    border-left: solid $fox-light-red 15px;
    box-shadow: none;
}