// Maybe try to refactor, these rules are nearly the same as the ones used to style mobile
// alarm list

#camera-list {

    overflow: scroll;

    .camera-picker {
        width: 100%;
        text-align: center;
    }

    .liveplayer {
        display: inline-block;
        margin: 0 1% 5vh 1%;
        position: relative;
        text-align: center;
        background-color: black;

        .big-playing-indicator {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            font-size: 3em;
            color: white;
        }

        .player-controls {
            position: absolute;
            z-index: 1000;
            background: rgba($fox-gray, 0.8);
            left: 0;
            right: 0;
            color: white;
            height: 2.3em;
            line-height: 2.3em;
            bottom: 0;

            .glyphicon {
                position: absolute;
                top: 50%;
                @include transform(translate(0, -50%));
            }

            .glyphicon:hover {
                cursor: pointer;
                font-weight: bold;
            }

            .glyphicon-play, .glyphicon-stop {
                left: 10px;
            }

            .glyphicon-resize-full, .glyphicon-resize-small {
                right: 10px;
            }

        }

        .camera-image {
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
        }

        .camera-image:hover {
            cursor: pointer;
            font-weight: bold;
        }

    }


}

// Fullscreen
.fullscreen-player {
    position: fixed;
    z-index: 20000; // Very high, should display over help boxes (10000)
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($fox-light-gray, 0.7);

    .previous-camera, .next-camera {
        display: block;
        position: absolute;
        color: $fox-red;
        font-size: 72px;
        top: 50%;
    }

    .glyphicon-menu-left:hover, .glyphicon-menu-right:hover, .glyphicon-remove:hover {
        cursor: pointer;
    }

    .previous-camera {
        left: 50px;
    }

    .next-camera {
        right: 50px;
    }

    .liveplayer {
        @include transform(translate(-50%, -50%));
        box-shadow: 1px 1px 3px $fox-dark-gray;
        top: 50%;
        left: 50%;
    }

    .close-button {
        display: block;
        color: black;
        line-height: 30px;
        height: 30px;
        width: 30px;
        border: solid $fox-dark-gray 1px;
        border-radius: 15px;
        background-color: $fox-light-gray;
        position: absolute;
        top: -10px;
        right: -10px;
    }

    .close-button:hover {
        cursor: pointer;
    }
}

.camera-picker {
    .liveplayer {
    }
}

// Desktop
@media screen and (min-width: $tablet-breakpoint){

    .camera-picker {

        .liveplayer {
            width: 23%;
        }

    }

    .fullscreen-player {
        .liveplayer {
            height: 75vh;
            width: 100vh;
        }
    }

}

@media screen and (max-width: $tablet-breakpoint - 1px){

    .camera-picker {

        .liveplayer {
            width: 48%;
        }

    }

}

@media screen and (max-width: $tablet-breakpoint - 1px) and (orientation: portrait){
    .fullscreen-player {
        .liveplayer {
            height: 67.5vw;
            width: 90vw;
        }
    }
}

@media screen and (max-width: $tablet-breakpoint - 1px) and (orientation: landscape){
    .fullscreen-player {
        .liveplayer {
            height: 90vh;
            width: 120vh;
        }
    }
}

@media screen and (max-width: $small-phones-breakpoint - 1px){

    .camera-picker {

        .liveplayer {
            width: 98%;
        }

    }

}


