/**
  * Specific style rules for the login page
  */


// Header for mobile devices
.foxstream-header {
    margin-top: 15vh;
    margin-bottom: 3vh;
    text-align: center;

    img {
        margin-bottom: 5vh;
        height: 15vh;
    }

}

