// Cross-browser transform
@mixin transform($transform){
    transform: $transform;
    -ms-transform: $transform; /* IE 9 */
    -webkit-transform: $transform; /* Safari and Chrome */
    -o-transform: $transform; /* Opera */
    -moz-transform: $transform; /* Firefox */
}