/**
  * Scrollable wrapper div for tables
  */ 
.table-container {

    width: 100%;
    height: 45vh;
    overflow: scroll;

    table {
        width: 100%;
        text-align: center;

        thead {
            border-top: solid $fox-red 2px;
            border-bottom: solid $fox-red 2px;

            th {
                font-weight: normal;
                padding: 0.4em;
                text-align: center; // Necessary to overwrite bootstrap default

                .glyphicon {
                    padding-right: 5px;
                }
            }

        }

        tbody {

            tr {
                height: 2.5em;

                td {
                    padding: 0.4em;
                    min-width: 1em;
                }

            }

            // Line currently being modified, or alarm being played, ...
            tr.active {
                background-color: $fox-gray;
                color: white;
                input {
                    color: black;
                }
            }

        }

        input {
            text-align: center;
        }

    }

}

/* Line colors 
   Not applied in .table-container, because these rules would 
   be too specific to be overwritten elsewhere (i.e. alarmtable) */
tbody tr:nth-child(odd){
    background-color: $fox-light-gray;
}

tbody tr:hover {
    background-color: $fox-light-gray;
    cursor: pointer;
}

// Creates a fixed header for table with transparency
// Apply on two divs : one containing table > thead and another containing table > tbody
.fixed-header {
    position: absolute; 
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    left: 0; 
    right: 0; 
    padding: 0 15px;
    overflow: hidden;
}
