.tabs {

    height: $tabs-desktop-height;
    line-height: $tabs-desktop-height;

    li {
        display: inline-block;
        padding: 0 10px;
    }

    li:hover {
        cursor: pointer;
    }

    .active {
        border-bottom: solid $fox-red 3px;
        color: $fox-red;
        background: rgba(white, 0.9);
        font-weight: bold;
    }
}

// Desktop
@media screen and (min-width: $tablet-breakpoint){
    .tabs {
        margin-bottom: 30px;
    }

    .tabs.centered {
        text-align: center;
    }
}

// Mobile devices
@media screen and (max-width: $tablet-breakpoint - 1px){
    
    .tabs {
        position: fixed; 
        top: $action-bar-tablet-height;
        left: 0;
        right: 0;
        padding: 0 30px;
        background: rgba(white, $alpha);
        z-index: 1000;
        height: $tabs-tablet-height;
        line-height: $tabs-tablet-height;

        li {
            width: 50%;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

}

// Smaller phones
@media screen and (max-width: $small-phones-breakpoint - 1px){
    
    .tabs {
        top: $action-bar-mobile-height;
        height: $tabs-mobile-height;
        line-height: $tabs-mobile-height;
    }

}

@media screen and (max-width: $tablet-breakpoint - 1px) and (orientation: landscape){
    .tabs {
        left: $navbar-landscape-width;
    }
}