extends ./MainTemplate.jade

block title
  title Compte utilisateur

block content
  div(class='container-fluid content')
       if user.shouldChangePassword
            div(class='alert alert-danger') You must change your password

       if message
             div(class='alert alert-warning')
                =message
   
       form(method='POST', class='col-xs-12 col-md-6 padding')
            div(class="form-group row")
              div(class="col-xs-12 col-md-4")
                label(for='usernameid') Login
                input(type='text', id='username', name='username', placeholder='Display name',value=user.displayname, class="form-control", required)
            button(name='PropUpdate', value='1', type='submit',  class="button-primary hidden-sm hidden-xs") Appliquer
   
       form(method='POST', class='col-xs-12 col-md-6 padding')
              .h4 Changer de mot de passe
              if user.shouldChangePassword==0
                  div(class="form-group row")
                      label(for='oldpassword') Mot de passe courant
                      input(type='password', id='oldpassword', name='oldpassword' placeholder='Mot de passe courant', class="form-control", required)
              div(class="form-group row")
                  label(for='password1') Nouveau mot de passe
                  input(type='password',  id='password1', name='password1' placeholder='Nouveau mot de passe', class="form-control", required)
              div(class="form-group row")
                  label(for='password2') Confirmer le mot de passe
                  input(type='password', id='password2', name='password2' placeholder='Confirmation', class="form-control", required)

              button(name='PassUpdate', value='1', type='submit',  class="button-primary hidden-sm hidden-xs") Enregistrer

