extends ./MainTemplate.jade

block title
	title Compte utilisateur

block content

	div(class='container-fluid content', ng-controller='accountController')

		div(class='settings-menu', ng-show="showMenu && device !== 'desktop'")
			ul
				li
					a(href='#', ng-click='showMenu = false')
						span Paramètres du compte
				li
					a(href='/serverview')
						span Serveurs
				li
					a(href='/userview')
						span Utilisateurs
				li
					a(href='/logout')
						span Déconnexion

		div(ng-show="device === 'desktop' || !showMenu")
			//- Mobile buttons 
			div(class='actions hidden-lg hidden-md')
				button(class='button-secondary',
						ng-click='showMenu = true') Retour
				button(class="button-primary", ng-show="loginForm.$dirty || passwordForm.$dirty",
						ng-click='') Valider

			div(class="tabs col-xs-12 col-md-6 col-md-offset-3 padding")
				ul
					li(ng-click="tab = 'loginForm'",
						ng-class="{active: tab==='loginForm'}") Informations affichées
					li(ng-click="tab = 'passwordForm'",
						ng-class="{active: tab==='passwordForm'}") Changer de mot de passe


			form(method='POST', class='col-xs-12 col-md-6 col-md-offset-3 padding', name="loginForm", ng-show="tab === 'loginForm'")
				div(class="form-group row")
					label(for='displayname') Nom affiché
					input(type='text', id='displayname', name='displayname', placeholder='Nom affiché', ng-model="user.displayname", class="form-control", required)
				button(name='PropUpdate', value='1', type='submit',  class="button-primary hidden-sm hidden-xs", ng-disabled="loginForm.$pristine") Appliquer

			form(method='POST', class='col-xs-12 col-md-6 col-md-offset-3 padding', name="passwordForm", ng-show="tab === 'passwordForm'")
				if user.shouldChangePassword==0
					div(class="form-group row")
						label(for='oldpassword') Mot de passe courant
						input(type='password', id='oldpassword', name='oldpassword' placeholder='Mot de passe courant', class="form-control", ng-model="password.old", required)
				div(class="form-group row")
					label(for='password1') Nouveau mot de passe
					input(type='password',  id='password1', name='password1' placeholder='Nouveau mot de passe', class="form-control", ng-model="password.new" required)
				div(class="form-group row")
					label(for='password2') Confirmer le mot de passe
					input(type='password', id='password2', name='password2' placeholder='Confirmation', class="form-control", ng-model="password.confirm", required)

				button(name='PassUpdate', value='1', type='submit',  class="button-primary hidden-sm hidden-xs") Enregistrer


	script(src='static/accountcontroller.js')
