div(class="imageplayer")
    imagewithosd(image='alarm.Images[currentIdx].Image', osd='showOsd ? alarm.Images[currentIdx].OSD : undefined')
    div(class="alarm-info notif-animation", ng-show="alarm !== undefined")
        h5 {{ alarm.timestamp*1000 | date:'dd/MM/yyyy - HH:mm' }} - {{alarm.cameraname}} - ({{alarm.sitename}})
    div(class='player-controls')
        div(class="")
        span(class='glyphicon glyphicon-step-backward', ng-click="prevImage()" ng-show="alarm !== undefined")
        span(class="glyphicon", ng-class='{ "glyphicon-play": !playing, "glyphicon-pause": playing }', ng-click="playing=!playing", ng-show="alarm !== undefined")
        span(class="glyphicon glyphicon-stop", ng-show="alarm === undefined")
        span(class='glyphicon glyphicon-step-forward', ng-click="nextImage()", ng-show="alarm !== undefined")
        span(class='glyphicon glyphicon-sunglasses', ng-click="toggleOsd()", ng-show="alarm !== undefined")

    spinner(ng-show="loading")