extends ./MainTemplate.jade

block title
  title Live feeds

block content
  div(ng-app="alarmviewer", class='container-fluid')
    .h3 Live Feeds

    div(ng-controller='livecontroller')  
        
            div(ng-repeat='c in cameras track by $index | orderBy: "-camid"'
                class='col-lg-6 col-sm-6 camera')
                img(src='{{ c.image }}'
                    class='camera-image')
                h5(class='camera-name') Cam_{{ c.camid }}
                

    script(src='static/angular-1.3.15.min.js')   
    script(src='static/app.js')  
    script(src='static/AlarmData.js')  
    script(src='static/EventSource4IE.js')  
    script(src='static/EventSource.js')  
    script(src='static/async.min.js')  
    script(src='static/livecontroller.js')  
    script(src='static/serverviewer.js')  
