div(class="swiper" ng-swipe-left='shownextalarm()' ng-swipe-right='showpreviousalarm()')
    div(class="slides-container")
        div(ng-repeat="x in cameras[currentsite]" class="slide" id="#slide{{ x.id }}")
            liveplayer(imgwidth=300, imgHeight=400, camera="selectedcamera")
            ul
                li Direct
                li 
                    b Caméra : 
                    {{ "Cam_" + x.camid }}
                li  
                    b Site : 
                    {{ currentsite }}
