doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    script(src='static/jquery-2.1.3.min.js')     
    script(src='static/bootstrap.min.js')     
    link(rel="stylesheet", href="static/css/bootstrap.min.css", media="screen")
    link(rel="stylesheet", href="static/css/main.css", media="screen")
    block title
  body

      div(class='container-fluid')
        header(class='hidden-xs')
          img(src='/static/img/logo-foxstream.gif')
          h1 FoxWebAlarmPlayer 

      nav(role='navigation')
          ul

            if user.type == 1                      
                li(class='active')
                    a(href="/alarmview"
                      class='nav-link') Alarmes
                li
                    a(href="/live") Direct
                li
                    a(href="/userview") Paramètres


      div(class='container-fluid')
        block content
    
 