doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="mobile-web-app-capable", content="yes")
    script(src='static/jquery-2.1.3.min.js')
    //- script(src='static/jquery-mobile.min.js')
    script(src='static/bootstrap.min.js')
    script(src='static/bower_components/angular/angular.min.js')
    script(src='static/bower_components/angular-touch/angular-touch.min.js')
    script(src="static/bower_components/angular-animate/angular-animate.min.js")
    script(src="static/bower_components/angu-fixed-header-table/fixed.js")
    script(src='static/app.js')
    script(src='static/AlarmData.js')
    script(src='static/appState.js')
    script(src='static/navbarcontroller.js')
    script(src='static/EventSource4IE.js')
    script(src='static/EventSource.js')
    script(src='static/serverviewer.js')
    link(rel="stylesheet", href="static/css/bootstrap.min.css", media="screen")
    link(rel="stylesheet", href="static/css/main.css", media="screen")
    block title
  body(ng-app='alarmviewer' class="ng-cloak")

      div(class='container-fluid')

        header(class='hidden-xs')
          img(src='/static/img/logo-foxstream.gif')
          div(class="notifications hidden-xs hidden-sm   notif-animation", ng-show="notification.show")
              p {{ notification.message }}
              i(class="glyphicon glyphicon-remove", ng-click="hidenotification()")
          h1(class='app-name') FoxWebAlarmPlayer

      nav(role='navigation', ng-controller='navbarcontroller')
          
          div(class="notifications hidden-md hidden-lg notif-animation", ng-show="notification.show")
            p {{ notification.message }}
            i(class="glyphicon glyphicon-remove", ng-click="hidenotification()")

          ul
              li(ng-class='{ active: isActive("alarmview") }')
                  a(href="/alarmview"
                    class='nav-link') 
                      i(class='glyphicon glyphicon-alert') 
                      span(class='link') Alarmes
                  span(class="navbar-notif", ng-show="alarmcounter > 0") {{ alarmcounter < 10 ? alarmcounter : '!' }}
              li(ng-class='{ active: isActive("live") }')
                  a(href="/live") 
                    i(class='glyphicon glyphicon-play') 
                    span(class='link') Direct
              li(ng-class='{ active: isActive("accountsettings") || isActive("userview") || isActive("serverview") }',
                  ng-mouseover='showsubmenu = true',
                  ng-mouseleave='showsubmenu = false', ng-controller="servercontroller")
                  a(href='/accountsettings')
                      i(class='glyphicon glyphicon-cog')
                      span(class='link') Paramètres
                      span(class="navbar-notif", ng-show="getDisconnectedServers().length > 0") !

                  div(class="submenu" ng-show='showsubmenu')
                    ul
                      li(ng-class='{ active: isActive("accountsettings") }')
                        a(href='/accountsettings')
                          span(class='link') Paramètres du compte
                      if user.type == 1
                          li(ng-class='{ active: isActive("serverview") }')
                            a(href='/serverview')
                              span(class='link') Serveurs
                              span(class="navbar-notif", ng-show="getDisconnectedServers().length > 0") !
                          li(ng-class='{ active: isActive("userview") }')
                            a(href='/userview')
                              span(class='link') Utilisateurs
                      li
                        a(href='/logout')
                          span(class='link') Déconnexion


      div
        block content