extends ./MainTemplate.jade

block title
  title Serveurs

block content
  div(class='container-fluid')
      div(ng-controller='servercontroller')    
        div(class='table')
            table
                thead
                    tr
                        th Adresse
                        th Port
                        th Login
                        th Description
                        th 
                        th
                tr(ng-repeat='x in servers')          
                    td 
                        input(type="text" value="{{ x.address }}")
                    td 
                        input(type="text" value="{{ x.port }}")
                    td 
                        input(type="text" value="{{ x.username }}")     
                    td 
                        input(type="text" value="{{ x.description }}")
                    td
                        span(class='glyphicon glyphicon-ok', ng-show='x.connected', title='Connected')
                        span(class='glyphicon glyphicon-alert', ng-show='!x.connected', title='Disconnected')
                    td 
                        button(ng-click='deleteServer(x.id)', title='Delete server',  class="button-primary") Supprimer

        button(class="button-primary", ng-click='initemptyserver()', ng-show='currentServer==undefined') Ajouter un serveur

        div(id='newserver', ng-show='currentServer!=undefined', class="form-input")
            .form-group
                label(for='id') Server address
                input(type='text', id='login' placeholder='Adress', ng-model='currentServer.address', class="form-control")
            .form-group
                label(for='port') Server port
                input(type='text', id='port' placeholder='Port', ng-model='currentServer.port', class="form-control")
            .form-group
                label(for='user') Login
                input(type='text', id='user' placeholder='Username', ng-model='currentServer.username', class="form-control")
            .form-group
                label(for='password') Password
                input(type='text', id='password' placeholder='Password', ng-model='currentServer.password', class="form-control")
            .form-group
                label(for='description') Server description
                input(type='text', id='description' placeholder='Description', ng-model='currentServer.description', class="form-control")

            button(ng-click='commitCurrentServer()' class="btn btn-sm btn-primary btn-block") OK
            button(ng-click='currentServer=undefined;serverMsg=undefined',  class="btn btn-sm btn-default btn-block") Cancel
        
        div(class='alert alert-warning space-before', ng-show='serverMsg!=undefined') {{ serverMsg  }}


  script(src='static/EventSource4IE.js')  
  script(src='static/EventSource.js')  
  script(src='static/serverviewer.js')  