div(class="swiper" ng-swipe-left='shownextalarm()' ng-swipe-right='showpreviousalarm()')
    div(class="slides-container")
        div(class="slide")
            imageplayer(imgwidth=370, imgheight=320, alarm='currentalarm', isvisible="true")
            ul
                li
                    {{ currentalarm.timestamp*1000 | date:'dd/MM/yyyy - HH:mm' }}
                li 
                    b Caméra : 
                    {{ currentalarm.cameraname }}
                li  
                    b Site : 
                    {{ currentalarm.sitename }}