extends ./MainTemplate.jade

block title
  title Utilisateurs 

block content

  div(class='container-fluid')

      div(ng-controller='usercontroller')  

        div(class="table responsive-table usertable") 
          table
            thead
              tr
                th Login
                th Nom affiché
                th Admin
                th Reset mot de passe
                th
            tbody
              tr(ng-repeat='x in users')
                td
                  input(type="text" value="{{ x.login }}")
                td
                  input(type="text" value="{{ x.displayname }}")
                td
                    span(class='glyphicon glyphicon-wrench', ng-show='x.type==1', title='Administrator') 
                td
                    button(ng-click='resetPassword(x.id)', ng-show='x.shouldChangePassword==0', title='Reset password',  class="btn btn-sm btn-default") 
                        span(class='glyphicon glyphicon-lock')
                td 
                    button(ng-click='deleteUser(x.id)', title='Delete user',  class="button-primary") Supprimer

        button(class="button-primary", ng-click='currentUser=""', ng-show='currentUser==undefined') Nouvel utilisateur

        div(id='newuser', ng-show='currentUser!=undefined', class="form-input")
            h4(class="form-signin-heading") New user login
            input(type='text', id='login' placeholder='Login', ng-model='currentUser', class="form-control")
            button(ng-click='addCurrentUser()', class="btn btn-sm btn-primary btn-block") Add user
            button(ng-click='currentUser=undefined', class="btn btn-sm btn-default btn-block") Cancel

        div(class='alert alert-warning space-before', ng-show='userMsg !=undefined') {{ userMsg  }}


  script(src='static/userviewer.js')