extends ./MainTemplate.jade

block title
  title Utilisateurs 

block content

  div(class='container-fluid')

      div(ng-controller='usercontroller')  

        //- Desktop buttons 
        div(class='actions hidden-xs hidden-sm')
            button(class="button-primary", ng-click='currentUser=""', ng-show='currentUser==undefined') Nouvel utilisateur

         //- Mobile buttons 
        div(class='actions hidden-lg hidden-md')
            button(class="button-secondary" ng-click='back()', ng-show="currentUser === undefined") Retour
            button(class="button-primary", ng-click='currentUser=""', ng-show='currentUser === undefined') Ajouter
            button(ng-click='currentUser=undefined', class="button-secondary", ng-show="currentUser !== undefined") Annuler
            button(ng-click='addCurrentUser()', class="button-primary", ng-show="currentUser !== undefined") Valider

        div(class="table usertable hidden-xs hidden-sm", ng-show="currentUser === undefined")
          table
            thead
              tr
                th Login
                th Nom affiché
                th Admin
                th Reset mot de passe
                th Delete
            tbody
              tr(ng-repeat='x in users')
                td
                  input(type="text" value="{{ x.login }}")
                td
                  input(type="text" value="{{ x.displayname }}")
                td
                    span(class='glyphicon glyphicon-wrench', ng-show='x.type==1', title='Administrator')
                td
                    button(ng-click='resetPassword(x.id)', ng-show='x.shouldChangePassword==0', title='Reset password',  class="btn btn-sm btn-default")
                        span(class='glyphicon glyphicon-lock')
                td
                    button(ng-click='deleteUser(x.id)', title='Delete user',  class="button-primary") Supprimer

        div(class="userlist main-element hidden-md hidden-lg" id="alarmlist", ng-show="currentUser === undefined")
            div(ng-repeat='x in users', class='panel accordion-item')
              h5 
                a(href='#collapse{{$index}}', data-toggle='collapse',
                class="drop", data-parent='#alarmlist') {{ x.login }}
              div(id='collapse{{ $index }}', class='collapse')
                form
                  .form-group
                    label(for="login") Login
                    input(type="text", class="form-control",
                      id="login", value="{{ x.login }}")
                  .form-group
                    label(for="displayname") Login
                    input(type="text", class="form-control",
                      id="displayname", value="{{ x.displayname }}")
                  div(class="form-group row")
                      div(class="col-xs-6" style="text-align: right")
                        label(for="admin") Admin
                      .col-xs-6
                        input(type="checkbox", id="admin")
                  .form-group
                     button(ng-click='',  class="button-secondary full-width") Reset mot de passe
                  .form-group
                      button(ng-click='deleteUser(x.id)', title='Delete user',  class="button-primary full-width") Supprimer l'utilisateur
                

        div(id='newuser', ng-show='currentUser !== undefined', class="main-element col-xs-12 col-md-6 col-md-offset-3")
            .h4 Ajouter un utilisateur
            .form-group 
              input(type='text', id='login' placeholder='Login', ng-model='currentUser', class="form-control")
            button(ng-click='currentUser=undefined', class="button-secondary hidden-xs hidden-sm") Annuler
            button(ng-click='addCurrentUser()', class="button-primary hidden-xs hidden-sm") Valider

        div(class='alert alert-warning space-before', ng-show='userMsg !=undefined') {{ userMsg }}


  script(src='static/userviewer.js')