extends ./MainTemplate.jade

block title
  title Utilisateurs

block content

  div(class='container-fluid')

      div(ng-controller='usercontroller')

        //- Desktop buttons
        div(class='actions hidden-xs hidden-sm')
            button(class="button-primary", ng-click='initemptyuser()', ng-show='newuser === undefined && currentuser === undefined') Nouvel utilisateur

         //- Mobile buttons 
        div(class='actions hidden-lg hidden-md')

            button(class="button-secondary back" ng-click='back()', ng-show="currentUser === undefined")
              span Paramètres
            button(class="button-primary", ng-click='initemptyuser()', ng-show='newuser === undefined') Ajouter

        div(class="table-container hidden-xs hidden-sm")
          table
            col(style="width: 21%")
            col(style="width: 21%")
            col(style="width: 21%")
            col(style="width: 21%")
            col(style="width: 16%")
            thead
              tr
                th Login
                th Nom affiché
                th Admin
                th Reset mot de passe
                th
            tbody
              tr(ng-repeat='x in users', ng-class="{active: currentuser !== undefined && currentuser.id === x.id}", ng-click="edituser(x.id)", ng-show="x.id !== user.id")
                td(ng-show="currentuser === undefined || currentuser.id !== x.id") {{ x.login }}
                td(ng-show="currentuser !== undefined && currentuser.id === x.id")
                    input(type="text" ng-model="currentuser.login", ng-click="$event.stopPropagation()")

                td(ng-show="currentuser === undefined || currentuser.id !== x.id") {{ x.displayname }}
                td(ng-show="currentuser !== undefined && currentuser.id === x.id")
                    input(type="text" ng-model="currentuser.displayname", ng-click="$event.stopPropagation()")

                td(ng-show="currentuser === undefined || currentuser.id !== x.id")
                    input(type="checkbox" ng-model="x.type", ng-click="$event.stopPropagation()", ng-disabled="true", ng-true-value="1", ng-false-value="0")
                td(ng-show="currentuser !== undefined && currentuser.id === x.id")
                    input(type="checkbox" ng-model="currentuser.type", ng-click="$event.stopPropagation()", ng-true-value="1", ng-false-value="0")

                td
                    button(ng-click='resetpassword(x.id)', ng-show='x.shouldChangePassword===0', title='Reset mot de passe', class="button-secondary") Reset mot de passe

                td(ng-show="currentuser === undefined || currentuser.id !== x.id")
                    button(ng-click="deleteuser(x.id); $event.stopPropagation()", title="Supprimer l'utilisateur", class="icon button-primary", ng-show="newuser === undefined")
                        span(class="glyphicon glyphicon-trash")

                td(ng-show="currentuser !== undefined && currentuser.id === x.id")
                    button(ng-click="resetuser(); $event.stopPropagation()", title="Annuler", class="icon button-secondary")
                        span(class="glyphicon glyphicon-remove")
                    button(title="Valider", class="icon button-primary", ng-click="commitcurrentuser(); $event.stopPropagation()") 
                        span(class="glyphicon glyphicon-ok")

                tr(ng-show="newuser !== undefined", class="active")
                    td
                        input(type="text", ng-model="newuser.login")
                    td
                        input(type="text", ng-model="newuser.displayname")
                    td
                        input(type="checkbox", ng-model="newuser.type", ng-true-value="1", ng-false-value="0")
                    td
                    td
                        button(ng-click="newuser = undefined", title="Annuler", class="icon button-secondary")
                            span(class="glyphicon glyphicon-remove")
                        button(title="Valider", class="icon button-primary", ng-click="commitnewuser()") 
                            span(class="glyphicon glyphicon-ok")




        div(class="userlist main-element hidden-md hidden-lg" id="userlist", ng-show="newuser === undefined")
            div(ng-repeat='x in users', class='panel', ng-show="x.id !== user.id")
              h5 
                a(href='#collapse{{$index}}', data-toggle='collapse',
                class="block-header", data-parent='#userlist', ng-click="edituser(x.id)") {{ x.displayname }}
              div(id='collapse{{ $index }}', class='collapse')
                form(name="userform", ng-show="currentuser !== undefined && currentuser.id === x.id")
                  .form-group
                    label(for="login") Login
                    input(type="text", class="form-control",
                      id="login", ng-model="currentuser.login")
                  .form-group
                    label(for="displayname") Nom affiché
                    input(type="text", class="form-control",
                      id="displayname", ng-model=" currentuser.displayname")
                  .form-group
                        label(for="admin") Admin
                        input(type="checkbox", id="admin", class="form-control", ng-model="currentuser.type", ng-true-value="1", ng-false-value="0")
                  button(ng-click='resetpassword(x.id)', class="button-secondary", ng-show="userform.$pristine") Reset mot de passe
                  button(ng-click='deleteuser(x.id)', title="Supprimer l'utilisateur", class="button-primary", ng-show="userform.$pristine") Supprimer l'utilisateur
                  button(ng-click="edituser(x.id); userform.$setPristine()", title="Annuler", class="button-secondary", ng-show="userform.$dirty") Annuler
                  button(ng-click='commitcurrentuser()', title='Valider', class="button-primary", ng-show="userform.$dirty") Valider
                

        div(ng-show='newuser !== undefined', class="hidden-md hidden-lg")
            .h5(class="block-header") Nouvel utilisateur
            form
              .form-group
                  label(for="login") Login
                  input(type='text', id='login', ng-model='newuser.login', class="form-control")
              .form-group
                  label(for="displayname") Nom affiché
                  input(type='text', id='displayname', ng-model='newuser.displayname', class="form-control")
              .form-group
                  label(for="admin") admin
                  input(type='checkbox', id='admin', ng-model='newuser.type', class="form-control", ng-true-value="1", ng-false-value="0")
              button(ng-click="newuser = undefined", title="Annuler", class="button-secondary") Annuler
              button(ng-click='commitnewuser()', title='Valider', class="button-primary") Valider

  script(src='static/userdb.js')
  script(src='static/userviewer.js')