html {
  height: 100vh;
  overflow: hidden; }

body {
  padding: 1vh 0 0 0;
  margin: 0;
  height: 100%;
  overflow: hidden; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: black; }

ul {
  padding: 0;
  list-style: none;
  vertical-align: middle; }

.app-name {
  font-size: 1.5em;
  color: #e44333; }

@media screen and (min-width: 992px) {
  .container-fluid.content {
    margin-top: 10vh; } }
table {
  width: 100%;
  text-align: center; }

td {
  padding: 0.4em;
  min-width: 1em; }

th {
  font-weight: normal;
  padding: 0.4em;
  text-align: center; }

@media screen and (max-width: 767px) {
  .col-xs-12 {
    padding: 0; } }
.actions {
  width: 100%; }

@media screen and (min-width: 992px) {
  .actions {
    text-align: right;
    padding-right: 2%;
    margin-bottom: 2vh; } }
@media screen and (max-width: 991px) {
  .actions {
    height: 10vh;
    line-height: 10vh; }
    .actions button {
      line-height: 1.5em; } }
.swiper {
  border: solid #788493 1px;
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap;
  height: 100%; }

@media screen and (max-width: 991px) {
  .swiper {
    height: 64vh; } }
@media screen and (max-width: 767px) {
  .swiper {
    height: 73vh; } }
.slides-container {
  height: 100%;
  position: relative; }

.slide {
  padding: 1%;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 1.3em;
  position: relative; }
  .slide .imageplayer {
    height: 70%;
    text-align: center; }
    .slide .imageplayer .imagecanvas {
      text-align: center;
      height: 80%;
      width: auto; }
    .slide .imageplayer .play_controller {
      height: 20%; }
  .slide ul {
    position: absolute;
    bottom: 0;
    padding: 5%; }
    .slide ul li {
      text-indent: 0.2em;
      line-height: 1.3em; }

input:not([type=checkbox]) {
  width: 100%; }

input[type=checkbox] {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  -moz-transform: scale(1.5);
  /* Firefox */
  margin-right: 5%; }

button {
  border-style: solid;
  border-width: 0.2em;
  border-radius: 0.5em;
  background-color: white;
  text-align: center;
  padding: 0;
  min-width: 7em;
  line-height: 1.5em; }

button:hover {
  font-weight: bold; }

button.button-primary {
  border-color: #e44333;
  color: #e44333; }

button.button-secondary {
  border-color: #566171;
  color: #566171;
  margin-right: 4%; }

@media screen and (min-width: 992px) {
  .form {
    margin: auto;
    width: 50%; }
    .form input {
      margin-top: 1vh;
      margin-bottom: 1vh; }
    .form label {
      margin-bottom: 1vh; }
    .form button {
      margin-top: 1vh;
      margin-bottom: 1vh; }

  label {
    margin-top: 1vh; }

  button {
    width: 10vw; }

  .divider {
    display: inline-block;
    width: 1vw; } }
@media screen and (max-width: 991px) {
  button {
    width: 48%;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.2em; }

  button.full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  .form input {
    margin-top: 1vh;
    margin-bottom: 1vh; }
  .form label {
    margin-top: 5vh;
    margin-bottom: 1vh;
    text-indent: 5vw; }
  .form button {
    margin-top: 3vh;
    margin-bottom: 1vh; }

  .divider {
    display: inline-block;
    width: 4%; } }
header {
  position: relative;
  height: 12vh;
  line-height: 12vh;
  vertical-align: middle; }
  header img {
    display: inline-block;
    height: 90%;
    position: relative;
    left: 2%; }
  header h1 {
    display: inline;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    padding: 0; }

nav {
  width: 100vw; }
  nav ul li {
    display: inline-block;
    text-align: center; }
    nav ul li a {
      display: inline-block;
      width: 100%;
      height: 100%; }

@media screen and (max-width: 991px) {
  nav {
    height: 6vh;
    position: absolute;
    bottom: 0;
    background-color: white;
    z-index: 2;
    text-align: center;
    border-top: solid #788493 2px; }
    nav ul {
      height: 6vh;
      line-height: 6vh; }
      nav ul li {
        width: 15vw;
        font-weight: bold;
        position: relative; }
        nav ul li i.glyphicon {
          font-size: 2vh;
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%);
          -ms-transform: translate(-50%);
          /* IE 9 */
          -webkit-transform: translate(-50%);
          /* Safari and Chrome */
          -o-transform: translate(-50%);
          /* Opera */
          -moz-transform: translate(-50%);
          /* Firefox */ }
        nav ul li .link {
          line-height: normal;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          -ms-transform: translate(-50%);
          /* IE 9 */
          -webkit-transform: translate(-50%);
          /* Safari and Chrome */
          -o-transform: translate(-50%);
          /* Opera */
          -moz-transform: translate(-50%);
          /* Firefox */
          bottom: 10%; }
      nav ul li.active a {
        color: #e44333; }

  nav.nav-connection {
    display: none; } }
@media screen and (max-width: 767px) {
  nav {
    height: 12vh; }
    nav ul {
      height: 12vh;
      line-height: 12vh; }
      nav ul li {
        width: 33.3vw; }
        nav ul li i.glyphicon {
          font-size: 4vh; } }
@media screen and (min-width: 992px) {
  nav {
    margin-bottom: 5vh;
    height: 6vh;
    margin-top: 1vh;
    text-align: right;
    background-color: #e44333;
    color: white;
    height: 6vh;
    line-height: 6vh;
    padding-right: 3%; }
    nav ul li {
      width: 8%;
      position: relative;
      border-left: solid #ea533d 1px;
      border-right: solid #ea533d 1px; }
      nav ul li a {
        color: white; }
      nav ul li i.glyphicon {
        display: none; }
    nav ul li:hover {
      background-color: #cf3c2d;
      cursor: pointer; }
      nav ul li:hover a {
        color: white;
        text-decoration: none;
        font-weight: normal; }
    nav ul li.active {
      background-color: #cf3c2d; }
    nav ul li.active::after {
      content: ' ';
      position: absolute;
      top: 6vh;
      left: 50%;
      transform: translate(-50%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 9px solid #cf3c2d; }
    nav ul li.active:hover::after {
      border-top: 8px solid #cf3c2d; } }
@media screen and (min-width: 992px) {
  .foxstream-header {
    display: none; } }
@media screen and (max-width: 991px) {
  .foxstream-header {
    margin-top: 10vh;
    text-align: center; }
    .foxstream-header img {
      margin-bottom: 5vh; } }
@media screen and (min-width: 992px) {
  .alarmtable {
    max-height: 60vh;
    overflow: scroll; }
    .alarmtable thead {
      border-top: solid #e44333 2px;
      border-bottom: solid #e44333 2px; }
    .alarmtable tbody tr:nth-child(even) {
      background-color: #c8d4d9; }
    .alarmtable tbody tr:hover {
      background-color: #c8d4d9;
      cursor: pointer; }
    .alarmtable tbody tr.active {
      background-color: #788493;
      color: white; }
      .alarmtable tbody tr.active .glyphicon {
        visibility: visible;
        color: #e44333; }
      .alarmtable tbody tr.active button {
        background: linear-gradient(0deg, #cf3c2d, #ff6151);
        color: white;
        border: none; }
    .alarmtable .glyphicon {
      visibility: hidden; }
    .alarmtable .drop, .alarmtable .video {
      display: none; } }
@media screen and (max-width: 991px) {
  .alarm-accordion {
    position: relative;
    z-index: 1;
    height: 69vh;
    overflow: scroll; }
    .alarm-accordion .alarm-date {
      display: inline-block;
      width: 100%;
      border: solid #788493 1px;
      padding: 2vh 5vw;
      font-size: 1.4em;
      font-weight: bold; }
    .alarm-accordion .alarm-details {
      padding: 1em 0; } }
@media screen and (max-width: 767px) {
  .alarm-accordion {
    height: 78vh; } }
.imagecanvas {
  width: 100%;
  height: auto;
  border: 2px outset #788493; }

#play_controller .osd {
  width: 100%; }
  #play_controller .osd button {
    width: 20%;
    min-width: 20%;
    border: solid #788493 1px;
    margin: 2.5%; }

@media screen and (max-width: 991px) {
  .imageplayer {
    width: 100%; } }
.form-input {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto; }

.space-before {
  margin-top: 20px; }

.alarmtable {
  max-height: 800px;
  overflow-y: scroll; }

.cam {
  text-align: center;
  height: 30vh;
  margin-bottom: 5vh; }

.camera-image {
  display: inline-block;
  height: 100%; }

.camera-name {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  padding: 1% 3%;
  border-radius: 15%;
  background-color: rgba(230, 66, 36, 0.4); }

.camera-image:hover {
  cursor: pointer;
  font-weight: bold; }

.live-canvas {
  text-align: center;
  box-shadow: 0 0 5px white; }

.live-canvas img {
  height: 50vh; }

/*# sourceMappingURL=main.css.map */
