body {
  padding: 1vh 0 0 0;
  margin: 0; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  font-weight: bold; }

ul {
  padding: 0;
  list-style: none;
  vertical-align: middle; }

.app-name {
  font-size: 1.5em;
  color: #e44333; }

@media screen and (min-width: 50em) {
  .container-fluid.content {
    margin-top: 10vh; } }
table {
  width: 100%;
  text-align: center; }

td {
  padding: 0.4em;
  min-width: 1em; }

th {
  font-weight: normal;
  padding: 0.4em;
  text-align: center; }

tbody::before {
  content: ' ';
  display: block;
  height: 1em;
  background: transparent; }

@media screen and (max-width: 49em) {
  .col-xs-12 {
    padding: 0; } }
.actions {
  width: 100%; }

@media screen and (min-width: 50em) {
  .actions {
    text-align: right;
    padding-right: 2%;
    margin-bottom: 2vh; } }
@media screen and (max-width: 49em) {
  .actions {
    height: 10vh;
    line-height: 10vh; }
    .actions button {
      line-height: 1.5em; } }
input:not([type=checkbox]) {
  width: 100%; }

button {
  border-style: solid;
  border-width: 0.2em;
  border-radius: 0.5em;
  background-color: white;
  text-align: center;
  padding: 0;
  min-width: 7em;
  line-height: 1.5em; }

button:hover {
  font-weight: bold; }

button.button-red {
  border-color: #e44333;
  color: #e44333; }

button.button-gray {
  border-color: #566171;
  color: #566171; }

@media screen and (min-width: 50em) {
  .form {
    margin: auto;
    width: 50%; }
    .form input {
      margin-top: 1vh;
      margin-bottom: 1vh; }
    .form label {
      margin-bottom: 1vh; }
    .form button {
      margin-top: 1vh;
      margin-bottom: 1vh; }

  label {
    margin-top: 1vh; }

  button {
    width: 10vw; }

  .divider {
    display: inline-block;
    width: 1vw; } }
@media screen and (max-width: 49em) {
  button {
    width: 48%;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.2em; }

  button.full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  .form input {
    margin-top: 1vh;
    margin-bottom: 1vh; }
  .form label {
    margin-top: 5vh;
    margin-bottom: 1vh;
    text-indent: 5vw; }
  .form button {
    margin-top: 3vh;
    margin-bottom: 1vh; }

  .divider {
    display: inline-block;
    width: 4%; } }
header {
  position: relative;
  height: 12vh;
  line-height: 12vh;
  vertical-align: middle; }
  header img {
    display: inline-block;
    height: 90%;
    position: relative;
    left: 2%; }
  header h1 {
    display: inline;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    padding: 0; }

nav {
  width: 100vw; }
  nav ul li {
    display: inline-block;
    text-align: center; }
    nav ul li a {
      display: inline-block;
      width: 100%;
      height: 100%; }

@media screen and (min-width: 50em) {
  nav {
    margin-bottom: 5vh;
    height: 6vh;
    margin-top: 1vh;
    text-align: right;
    background-color: #e44333;
    color: white;
    height: 6vh;
    line-height: 6vh;
    padding-right: 3%; }
    nav ul li {
      width: 8%;
      position: relative;
      border-left: solid #ea533d 1px;
      border-right: solid #ea533d 1px; }
      nav ul li a {
        color: white; }
      nav ul li i.glyphicon {
        display: none; }
    nav ul li:hover {
      background-color: #cf3c2d;
      cursor: pointer; }
      nav ul li:hover a {
        color: white;
        text-decoration: none;
        font-weight: normal; }
    nav ul li.active {
      background-color: #cf3c2d; }
    nav ul li.active::after {
      content: ' ';
      position: absolute;
      top: 6vh;
      left: 50%;
      transform: translate(-50%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 9px solid #cf3c2d; }
    nav ul li.active:hover::after {
      border-top: 8px solid #cf3c2d; } }
@media screen and (max-width: 49em) {
  nav {
    height: 12vh;
    position: absolute;
    bottom: 0;
    text-align: center;
    box-shadow: -2px -2px 1px #566171; }
    nav ul {
      height: 12vh;
      line-height: 12vh; }
      nav ul li {
        width: 33.3vw;
        font-weight: bold;
        position: relative; }
        nav ul li i.glyphicon {
          font-size: 4vh;
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%); }
        nav ul li .link {
          line-height: normal;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          bottom: 10%; }
      nav ul li.active a {
        color: #e44333; }

  nav.nav-connection {
    display: none; } }
@media screen and (min-width: 50em) {
  .foxstream-header {
    display: none; } }
@media screen and (max-width: 49em) {
  .foxstream-header {
    margin-top: 10vh;
    text-align: center; }
    .foxstream-header img {
      margin-bottom: 5vh; } }
@media screen and (min-width: 50em) {
  .alarmtable {
    max-height: 60vh;
    overflow: scroll; }
    .alarmtable thead {
      background-color: #e44333;
      color: white; }
    .alarmtable tbody tr:nth-child(even) {
      background-color: #c8d4d9; }
    .alarmtable tbody tr:hover {
      background-color: #788493;
      color: white;
      cursor: pointer; }
    .alarmtable .drop, .alarmtable .video {
      display: none; } }
@media screen and (max-width: 49em) {
  .alarmtable {
    max-height: 78vh;
    overflow: hidden;
    text-align: left; }
    .alarmtable thead {
      display: none; }
    .alarmtable .check, .alarmtable .handle {
      display: none; }
    .alarmtable tbody td {
      display: block; }
    .alarmtable .date {
      border: solid #788493 2px; }

  .desktop-video-player {
    display: none; } }
.form-input {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto; }

.space-before {
  margin-top: 20px; }

.alarmtable {
  max-height: 800px;
  overflow-y: scroll; }

.imagecanvas {
  width: 60vh;
  height: 60vh;
  border: 2px outset grey; }

.cam {
  text-align: center;
  height: 30vh;
  margin-bottom: 5vh; }

.camera-image {
  display: inline-block;
  height: 100%; }

.camera-name {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  padding: 1% 3%;
  border-radius: 15%;
  background-color: rgba(230, 66, 36, 0.4); }

.camera-image:hover {
  cursor: pointer;
  font-weight: bold; }

.live-canvas {
  text-align: center;
  box-shadow: 0 0 5px white; }

.live-canvas img {
  height: 50vh; }

/*# sourceMappingURL=main.css.map */
