/*
**************************************************************** SASS variables
*/
/*
**************************************************************** Main rules
*/
html {
  height: 100vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; }

@media screen and (min-width: 992px) {
  body {
    font-size: 14px; } }
@media screen and (max-width: 991px) {
  body {
    font-size: 14px;
    background-color: #f5f5f5;
    overflow: hidden; } }
@media screen and (max-width: 599px) {
  body {
    font-size: 12px; } }
body {
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0; }

a, a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: black;
  cursor: pointer; }

ul {
  padding: 0;
  list-style: none;
  vertical-align: middle; }

.app-name {
  font-size: 1.5em;
  color: #e44333; }

@media screen and (max-width: 767px) {
  .col-xs-12 {
    padding: 0; } }
@media screen and (min-width: 992px) {
  .main-element {
    height: 72vh;
    overflow: scroll; } }
@media screen and (max-width: 991px) {
  .main-element {
    padding-top: 16vmax;
    padding-bottom: 10vmax;
    height: 100vh;
    overflow: scroll; } }
@media screen and (max-width: 599px) {
  .main-element {
    padding-top: 20vmax;
    padding-bottom: 14vmax;
    height: 100vh;
    overflow: scroll; } }
/*
**************************************************************** Imports
*/
.swiper {
  border: solid #788493 1px;
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap;
  height: 100%; }

@media screen and (max-width: 991px) {
  .swiper {
    height: 100%; } }
.slides-container {
  height: 100%;
  position: relative; }

.slide {
  padding: 1%;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 1.3em;
  position: relative;
  background: white;
  border-radius: 5px; }
  .slide .imageplayer, .slide .liveplayer {
    height: 70%;
    text-align: center; }
    .slide .imageplayer .imagecanvas, .slide .imageplayer img, .slide .liveplayer .imagecanvas, .slide .liveplayer img {
      text-align: center;
      height: 80%;
      width: auto; }
    .slide .imageplayer .play_controller, .slide .liveplayer .play_controller {
      height: 20%; }
  .slide ul {
    position: absolute;
    bottom: 0;
    padding: 5%; }
    .slide ul li {
      text-indent: 0.2em;
      line-height: 1.3em; }

/**
  * Many rules to style form elements
  */
input:not([type=checkbox]) {
  width: 100%; }

input[type=checkbox] {
  margin-right: 10px; }

input[type=checkbox] {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  -moz-transform: scale(1.5);
  /* Firefox */ }

input:focus {
  border: solid 1px rgba(228, 67, 51, 0.8) !important;
  box-shadow: 0 1px 1px rgba(228, 67, 51, 0.1) inset, 0 0 8px rgba(228, 67, 51, 0.6);
  outline: 0 none; }

button.icon {
  min-width: 0;
  width: 2em;
  padding: 0 1%; }

button {
  display: inline-block;
  height: 1.8em;
  border: none;
  border-radius: 0.5em;
  background-color: white;
  text-align: center;
  min-width: 7em;
  line-height: 1.5em;
  outline: none;
  color: white; }

button:focus {
  outline: none; }

button.button-primary {
  background: linear-gradient(0deg, #cf3c2d, #ff6151);
  border: none;
  height: 1.8em; }

button.button-secondary {
  background: linear-gradient(0deg, #566171, #788493);
  border: none;
  margin-right: 4%;
  height: 1.8em; }

button.button-primary-nofill {
  color: #e44333;
  border-color: #e44333;
  border-style: solid;
  border-width: 0.2em; }

button.button-secondary-nofill {
  color: #566171;
  margin-right: 4%;
  border-color: #566171;
  border-style: solid;
  border-width: 0.2em; }

button.back {
  position: relative;
  border-left: transparent; }

button.back::before {
  position: absolute;
  content: ' ';
  top: 0.25em;
  left: -0.3em;
  height: 1.27em;
  width: 1.27em;
  background: linear-gradient(45deg, #566171, #788493);
  border-top-left-radius: 0.6em;
  -webkit-transform: rotate(-45deg); }

@media screen and (min-width: 992px) {
  button {
    min-width: 10vw;
    padding: 0 5%; }

  button.submit {
    float: right; } }
@media screen and (max-width: 991px) {
  .main-element form {
    padding: 45px 15px;
    background-color: white;
    border: solid #788493 1px;
    border-radius: 5px;
    height: 100%; }

  button {
    width: 48%;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.2em; }

  button.full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0; } }
/**
  * Scrollable wrapper div for tables
  */
.table-container {
  width: 100%;
  max-height: 45vh;
  overflow: scroll; }
  .table-container table {
    width: 100%;
    text-align: center; }
    .table-container table thead {
      border-top: solid #e44333 2px;
      border-bottom: solid #e44333 2px; }
      .table-container table thead th {
        font-weight: normal;
        padding: 0.4em;
        text-align: center; }
        .table-container table thead th .glyphicon {
          padding-right: 5px; }
    .table-container table tbody tr {
      height: 2.5em; }
      .table-container table tbody tr td {
        padding: 0.4em;
        min-width: 1em; }
    .table-container table tbody tr.active {
      background-color: #788493;
      color: white; }
      .table-container table tbody tr.active input {
        color: black; }
    .table-container table input {
      text-align: center; }

/* Line colors 
   Not applied in .table-container, because these rules would 
   be too specific to be overwritten elsewhere (i.e. alarmtable) */
tbody tr:nth-child(odd) {
  background-color: #c8d4d9; }

tbody tr:hover {
  background-color: #c8d4d9;
  cursor: pointer; }

.fixed-header {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  left: 0;
  right: 0;
  padding: 0 15px; }

/**
  * Page header
  * Contains the Foxstream logo, app name and connection errors
  */
header {
  position: relative;
  height: 12vh;
  line-height: 12vh;
  vertical-align: middle; }
  header img {
    display: inline-block;
    height: 90%;
    position: relative;
    left: 2%; }
  header h1 {
    display: inline;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    padding: 0; }
  header .connection-errors {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Safari and Chrome */
    -o-transform: translate(-50%, -50%);
    /* Opera */
    -moz-transform: translate(-50%, -50%);
    /* Firefox */ }
    header .connection-errors .error {
      width: 50vw;
      line-height: 0;
      margin: 1% 0;
      padding: 2%;
      color: white;
      background-color: #e44333; }

nav {
  width: 100vw; }
  nav ul li {
    display: inline-block;
    text-align: center; }
    nav ul li a:link, nav ul li a:visited, nav ul li a:hover, nav ul li a:active {
      display: inline-block;
      width: 100%;
      height: 100%; }

.navbar-notif {
  display: inline-block;
  height: 1.6em;
  width: 1.6em;
  position: absolute;
  line-height: 1.6em; }

@media screen and (max-width: 991px), screen and (max-width: 599px) and (orientation: landscape) {
  nav::before {
    display: block; }

  nav {
    height: 8vmax;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    text-align: center;
    border-top: solid #788493 2px;
    background: rgba(255, 255, 255, 0.8); }
    nav ul {
      height: 8vmax;
      line-height: 8vmax; }
      nav ul li {
        width: 15vw;
        font-weight: bold;
        position: relative; }
        nav ul li i.glyphicon {
          display: inline-block;
          font-size: 2.66667vmax;
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%);
          -ms-transform: translate(-50%);
          /* IE 9 */
          -webkit-transform: translate(-50%);
          /* Safari and Chrome */
          -o-transform: translate(-50%);
          /* Opera */
          -moz-transform: translate(-50%);
          /* Firefox */ }
        nav ul li .link {
          display: inline-block;
          line-height: normal;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          -ms-transform: translate(-50%);
          /* IE 9 */
          -webkit-transform: translate(-50%);
          /* Safari and Chrome */
          -o-transform: translate(-50%);
          /* Opera */
          -moz-transform: translate(-50%);
          /* Firefox */
          bottom: 10%; }
      nav ul li.active a {
        color: #e44333; }
    nav .submenu {
      display: none; }

  nav.nav-connection {
    display: none; }

  .navbar-notif {
    background: #e44333;
    color: white;
    left: 50%;
    top: 10%;
    border-radius: 0.8em; } }
@media screen and (max-width: 599px) and (orientation: portrait) {
  nav {
    height: 12vmax; }
    nav ul {
      height: 12vmax;
      line-height: 12vmax; }
      nav ul li {
        width: 33.3vw; }
        nav ul li i.glyphicon {
          font-size: 4vmax; } }
@media screen and (min-width: 992px) {
  nav {
    margin-bottom: 5vh;
    height: 6vh;
    margin-top: 1vh;
    text-align: right;
    background-color: #e44333;
    color: white;
    height: 6vh;
    line-height: 6vh;
    padding-right: 3%; }
    nav ul li {
      width: 8%;
      position: relative;
      border-left: solid #ea533d 1px;
      border-right: solid #ea533d 1px; }
      nav ul li a:link, nav ul li a:visited, nav ul li a:hover, nav ul li a:active {
        color: white;
        font-weight: normal; }
      nav ul li i.glyphicon {
        display: none; }
    nav ul li:hover {
      background-color: #cf3c2d;
      cursor: pointer; }
    nav ul li.active {
      background-color: #cf3c2d; }
    nav ul li.active::after {
      content: ' ';
      position: absolute;
      top: 6vh;
      left: 50%;
      transform: translate(-50%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 9px solid #cf3c2d; }
    nav ul li.active:hover::after {
      border-top: 8px solid #cf3c2d; }
    nav .submenu {
      display: block;
      position: absolute;
      right: 0;
      z-index: 10;
      background-color: #e44333;
      min-width: 200px; }
      nav .submenu ul {
        width: 100%; }
        nav .submenu ul li {
          width: 100%;
          display: block;
          text-align: left;
          text-indent: 5%; }
        nav .submenu ul li.active::after {
          display: none; }
    nav .navbar-notif {
      background: #cf3c2d;
      color: white;
      right: 0;
      top: 0;
      border-left: solid #ea533d 1px;
      border-bottom: solid #ea533d 1px;
      border-bottom-left-radius: 0.8em; } }
/**
  * Action buttons at the top of the page
  */
@media screen and (min-width: 992px) {
  .actions {
    width: 100%;
    height: 2em;
    text-align: right;
    padding-right: 2%;
    margin-bottom: 2vh; } }
@media screen and (max-width: 991px) {
  .actions {
    height: 8vmax;
    line-height: 8vmax;
    background: #f5f5f5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 30px;
    border-bottom: solid #788493 2px; }
    .actions * {
      background: rgba(255, 255, 255, 0); } }
@media screen and (max-width: 599px) {
  .actions {
    height: 10vmax;
    line-height: 10vmax; } }
/**
  * Specific style rules for the login page
  */
.foxstream-header {
  margin-top: 10vh;
  text-align: center; }
  .foxstream-header img {
    margin-bottom: 5vh; }

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari and Chrome */
  -o-transform: translate(-50%, -50%);
  /* Opera */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  z-index: 1000; }
  .loading img {
    display: inline-block;
    width: 80%; }

@media screen and (min-width: 992px) {
  .filter {
    border: solid #788493 1px;
    margin-bottom: 15px;
    padding: 1% 3%;
    background: #c8d4d9;
    line-height: 200%; }
    .filter * {
      margin-right: 2%; }
    .filter input {
      width: auto;
      line-height: normal; }
    .filter button {
      float: right; }
    .filter form:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .alarmtable table {
    width: 100%; }
    .alarmtable table td:nth-child(1), .alarmtable table th:nth-child(1) {
      width: 5%; }
    .alarmtable table td:nth-child(2), .alarmtable table th:nth-child(2) {
      width: 5%; }
    .alarmtable table td:nth-child(3), .alarmtable table th:nth-child(3) {
      width: 25%; }
    .alarmtable table td:nth-child(4), .alarmtable table th:nth-child(4) {
      width: 20%; }
    .alarmtable table td:nth-child(5), .alarmtable table th:nth-child(5) {
      width: 25%; }
    .alarmtable table td:nth-child(6), .alarmtable table th:nth-child(6) {
      width: 20%; }
  .alarmtable tbody {
    width: 100%; }
    .alarmtable tbody .glyphicon {
      visibility: hidden;
      color: #e44333; }
    .alarmtable tbody tr.active .glyphicon {
      visibility: visible; }
    .alarmtable tbody tr.active button {
      background: linear-gradient(0deg, #cf3c2d, #ff6151);
      color: white;
      border: none; } }
.not-handled {
  color: #e44333; }

@media screen and (max-width: 991px) {
  .filter {
    border: solid #566171 1px;
    border-radius: 10px;
    background: rgba(200, 212, 217, 0.8);
    padding: 5% 10%;
    box-shadow: 1px 1px 1px #566171;
    z-index: 2000;
    position: absolute;
    top: 10vh;
    left: 10%;
    right: 10%;
    height: auto; }
    .filter input {
      width: 100%; }
    .filter h4 {
      color: #e44333;
      margin-top: -10px;
      margin-bottom: 25px; } }
@media screen and (max-width: 767px) {
  .filter {
    padding: 5% 5%;
    left: 5%;
    right: 5%; } }
.imagecanvas {
  width: 100%;
  height: auto;
  border: 2px outset #788493; }

#play_controller {
  text-align: center; }
  #play_controller button {
    width: auto;
    min-width: 0;
    padding: 0 10px;
    border: none;
    background: transparent;
    font-size: 1.5em;
    color: #566171; }
  #play_controller button#osd {
    position: absolute;
    right: 30px; }
  #play_controller .progress {
    margin: 0;
    background: none; }
    #play_controller .progress .progress-bar {
      background-color: #788493; }

@media screen and (max-width: 991px) {
  .imageplayer {
    width: 100%; } }
#camera-list {
  overflow: scroll; }
  #camera-list .camera-picker {
    width: 100%; }
  #camera-list .big-playing-indicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Safari and Chrome */
    -o-transform: translate(-50%, -50%);
    /* Opera */
    -moz-transform: translate(-50%, -50%);
    /* Firefox */
    font-size: 3em;
    color: white; }
  #camera-list .liveplayer {
    display: inline-block;
    margin: 0 1% 5vh 1%;
    position: relative;
    text-align: center;
    height: 240px;
    line-height: 240px;
    background-color: black; }
    #camera-list .liveplayer .player-controls {
      position: absolute;
      bottom: 0;
      background: rgba(120, 132, 147, 0.8);
      left: 0;
      right: 0;
      color: white; }
      #camera-list .liveplayer .player-controls .glyphicon {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        /* IE 9 */
        -webkit-transform: translate(0, -50%);
        /* Safari and Chrome */
        -o-transform: translate(0, -50%);
        /* Opera */
        -moz-transform: translate(0, -50%);
        /* Firefox */ }
      #camera-list .liveplayer .player-controls .glyphicon:hover {
        cursor: pointer;
        font-weight: bold; }
      #camera-list .liveplayer .player-controls .glyphicon-play, #camera-list .liveplayer .player-controls .glyphicon-stop {
        left: 5%; }
      #camera-list .liveplayer .player-controls .glyphicon-fullscreen {
        right: 5%; }
    #camera-list .liveplayer .camera-image {
      display: inline-block;
      max-width: 100%;
      max-height: 100%; }
    #camera-list .liveplayer .camera-image:hover {
      cursor: pointer;
      font-weight: bold; }

@media screen and (min-width: 992px) {
  .liveplayer {
    width: 23%; } }
@media screen and (max-width: 991px) {
  .liveplayer {
    width: 48%; } }
@media screen and (max-width: 599px) {
  .liveplayer {
    width: 98%; } }
.settings-menu {
  margin-top: 2vh;
  color: #e44333; }
  .settings-menu .block-header {
    color: #e44333; }
  .settings-menu .glyphicon {
    margin-right: 15px; }

.tabs {
  height: 5vh;
  line-height: 5vh; }
  .tabs li {
    display: inline-block;
    padding: 0 10px; }
  .tabs li:hover {
    cursor: pointer; }
  .tabs .active {
    border-bottom: solid #e44333 3px;
    color: #e44333;
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold; }

@media screen and (max-width: 991px) {
  .tabs {
    position: fixed;
    top: 8vmax;
    left: 0;
    right: 0;
    padding: 0 30px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000; }
    .tabs li {
      width: 50%;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; } }
@media screen and (max-width: 599px) {
  .tabs {
    top: 10vmax;
    height: 7vmax;
    line-height: 7vmax; } }
/**
  * alarm date, site name in liveviewer, ...
  * Apply this class on h* elements for example
  * No margin is defined here : if needed, the bootstrap class "panel"
  * should be used on the parent element
  */
.block-header {
  position: relative;
  display: inline-block;
  font-weight: bold;
  width: 100%;
  border: solid #c8d4d9 1px;
  padding: 1em 1em;
  background: white;
  margin-bottom: 0.4em; }
  .block-header b {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .block-header .glyphicon {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    -webkit-transform: translate(0, -50%);
    /* Safari and Chrome */
    -o-transform: translate(0, -50%);
    /* Opera */
    -moz-transform: translate(0, -50%);
    /* Firefox */ }

.panel {
  margin-bottom: 2px;
  border: none; }

@media screen and (min-width: 992px) {
  .block-header {
    font-size: 1.2em;
    border-color: #788493; } }
.notifications {
  font-weight: bold;
  background: rgba(200, 212, 217, 0.8);
  padding: 0 3%;
  color: #e44333;
  text-align: left; }
  .notifications p {
    width: 80%;
    line-height: 1.2em;
    margin: 0; }
  .notifications i {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Safari and Chrome */
    -o-transform: translate(-50%, -50%);
    /* Opera */
    -moz-transform: translate(-50%, -50%);
    /* Firefox */ }
  .notifications i:hover {
    cursor: pointer; }

@media screen and (min-width: 992px) {
  .notifications {
    height: auto;
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Safari and Chrome */
    -o-transform: translate(-50%, -50%);
    /* Opera */
    -moz-transform: translate(-50%, -50%);
    /* Firefox */
    border: solid #566171 1px; } }
@media screen and (max-width: 991px) {
  .notifications {
    font-size: 1.3em;
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: solid #566171 1px;
    z-index: 1000;
    height: 8vmax; }
    .notifications p {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      /* IE 9 */
      -webkit-transform: translateY(-50%);
      /* Safari and Chrome */
      -o-transform: translateY(-50%);
      /* Opera */
      -moz-transform: translateY(-50%);
      /* Firefox */ } }
@media screen and (max-width: 767px) {
  .notifications {
    height: 12vmax; } }
.imagecanvas {
  background-color: black; }

/*# sourceMappingURL=main.css.map */
