body {
}

.form-input{
    max-width:350px;
    margin-left:auto;
    margin-right:auto;        
}

.space-before{
    margin-top:20px;
}

.alarmtable {
    max-height:800px;
    overflow-y:scroll;
}

.imagecanvas {
       width:100%;
       height:auto;
       border:2px outset grey;
}

.camera {
    text-align: center;
    height: 30vh;
    margin-bottom: 5vh;
}

.camera-image {
  display: inline-block;
    height: 100%;
}

.camera-name {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  padding: 1% 3%;
  border-radius: 15%;
  background-color: rgba(230, 66, 36, 0.4);
}

.camera-image:hover {
    cursor: pointer;
    font-weight: bold;
}

.live-canvas {
    text-align: center;
    box-shadow: 0 0 5px white;
}

.live-canvas img {
    height: 50vh;
}