extends ./MainTemplate.jade

block title
	title {{ 'ACCOUNTSETTINGS' | translate }}

block content

	div(class='container-fluid content', ng-controller='accountController')
		if user.shouldChangePassword==0
			div(class='settings-menu', ng-show="showMenu && device !== 'desktop'")
				ul
					li(class="panel")
						h5
							a(href='#', ng-click='showMenu = false', class="block-header")
								span(class="glyphicon glyphicon-cog")
								span {{ 'ACCOUNTSETTINGS' | translate }}
					if user.type == 1
						li(class="panel")
							h5
								a(href='/serverview', class="block-header")
									span(class="glyphicon glyphicon-hdd")
									span {{ 'SERVERS' | translate }}
						li(class="panel")
							h5
								a(href='/userview', class="block-header")
									span(class="glyphicon glyphicon-user")
									span {{ 'USERS' | translate }}
					li(class="panel")
						h5
							a(href='/logout', class="block-header")
								span(class="glyphicon glyphicon-off")
								span {{ 'LOGOUT' | translate }}

			div(ng-show="device === 'desktop' || !showMenu")
				//- Mobile buttons
				div(class='actions hidden-lg hidden-md')
					button(class='button-secondary back',
							ng-click='showMenu = true')
							span {{ 'SETTINGS' | translate }}

				div(class="tabs centered")
					ul
						li(ng-click="tab = 'loginForm'",
							ng-class="{active: tab==='loginForm'}") {{ 'DISPLAYED_INFO' | translate }}
						li(ng-click="tab = 'passwordForm'",
							ng-class="{active: tab==='passwordForm'}") {{ 'CHANGE_PASSWORD' | translate }}


				div(class="main-element")
					form(method='POST', class='col-xs-12 col-md-6 col-md-offset-3', name="loginForm", ng-show="tab === 'loginForm'")
						div(class="form-group")
							label(for='displayname') {{ 'DISPLAYNAME' | translate }}
							input(type='text', id='displayname', name='displayname', ng-model="user.displayname", class="form-control", required)
						button(name='PropUpdate', value='1', class="button-primary submit", ng-show="loginForm.$dirty", ng-click="commituser()") {{ 'APPLY' | translate }}

					form(method='POST', class='col-xs-12 col-md-6 col-md-offset-3', name="passwordForm", ng-show="tab === 'passwordForm'")
						div(class="form-group")
							label(for='oldpassword') {{ 'CURRENT_PASSWORD' | translate }}
							input(type='password', id='oldpassword', name='oldpassword' class="form-control", ng-model="password.old", required)
						div(class="form-group")
							label(for='password1') {{ 'NEW_PASSWORD' | translate }}
							input(type='password',  id='password1', name='password1', class="form-control", ng-model="password.new", required)
						div(class="form-group")
							label(for='password2') {{ 'CONFIRM_PASSWORD' | translate }}
							input(type='password', id='password2', name='password2', class="form-control", ng-model="password.confirm", required)

						button(name='PassUpdate', value='1', class="button-primary submit", ng-click="changepassword()") {{ 'SAVE' | translate }}

		if user.shouldChangePassword==1
			form(method='POST', class='col-xs-12 col-md-6 col-md-offset-3', name="passwordForm")
				div(class="alert alert-danger") {{ 'RESET_PASSWORD_NOTIF' | translate }}
				div(class="form-group")
					label(for='password1') {{ 'NEW_PASSWORD' | translate }}
					input(type='password',  id='password1', name='password1', class="form-control", ng-model="password.new", required)
				div(class="form-group")
					label(for='password2') {{ 'CONFIRM_PASSWORD' | translate }}
					input(type='password', id='password2', name='password2', class="form-control", ng-model="password.confirm", required)

				button(name='PassUpdate', value='1', class="button-primary submit", ng-click="changepassword()") {{ 'SAVE' | translate }}



	script(src='static/userdb.js')
	script(src='static/accountcontroller.js')
