div(class="imageplayer")
    imagewithosd(image='alarm.Images[currentIdx].Image', osd='showOsd ? alarm.Images[currentIdx].OSD : undefined', ng-click="showcontrols = !showcontrols")
    div(class="alarm-info notif-animation", ng-show="alarm !== undefined && showcontrols")
        h5 {{ alarm.timestamp*1000 | date:'dd/MM/yyyy - HH:mm' }} - {{alarm.cameraname}} ({{alarm.sitename}})
    div(class='player-controls notif-animation' ng-show="showcontrols")
        div(class="player-progress-bar", style="width: {{ (currentIdx / alarm.nbimages) * 100 || 0 }}%;")
        span(class='glyphicon glyphicon-step-backward', ng-click="prevImage()" ng-show="alarm !== undefined")
        span(class="glyphicon", ng-class='{ "glyphicon-play": !playing, "glyphicon-pause": playing }', ng-click="playing=!playing", ng-show="alarm !== undefined")
        span(class="glyphicon glyphicon-stop", ng-show="alarm === undefined")
        span(class='glyphicon glyphicon-step-forward', ng-click="nextImage()", ng-show="alarm !== undefined")
        span(class="osd-icon", ng-show="alarm !== undefined")
            img(src="/img/osd-silhouette.png", ng-show="!showOsd", ng-click="toggleOsd()")
            img(src="/img/osd.png", ng-show="showOsd", ng-click="toggleOsd()")
            span(class="help left", ng-show="help") {{ 'HELP_OSD' | translate }}

    spinner(ng-show="loading")