extends ./MainTemplate

block title
    title FoxWebAlarmPlayer

block content
  div(class='container-fluid content')

    div(ng-controller='livecontroller')

        //- Mobile buttons
        div(class='actions hidden-lg hidden-md')

        div(class='col-xs-12 main-element', id='camera-list')
            div(ng-show="cameras == undefined", class="panel")
                h5
                    a(href='#', class="block-header", data-parent='#camera-list') {{ 'NO_CAMERAS' | translate }}
            div(ng-repeat='(site, cams) in cameras track by $index' class='panel')
                h5
                    a(href='#collapse{{$index}}', data-toggle='collapse',
                    class="block-header", data-parent='#camera-list') {{ site }}
                div(id='collapse{{ $index }}',
                    class='collapse')
                        div(class="fullscreen-player", ng-if="selectedcamera !== undefined && selectedcamera.site == site", class="fullscreen-animation", ng-swipe-left="showpreviouscamera()", ng-swipe-right="shownextcamera()")
                            liveplayer(site="site", camera="selectedcamera.camera", pause="false", playfullscreen="playfullscreen(site, serverId, camId, fps)", fullscreen="true")
                            span(class="glyphicon glyphicon-menu-left hidden-xs hidden-sm", ng-click="showpreviouscamera()")
                            span(class="glyphicon glyphicon-menu-right hidden-xs hidden-sm", ng-click="shownextcamera()")
                        div(class="camera-picker")
                            liveplayer(ng-repeat='c in cams | orderBy: "id" track by $index', site="site", camera="c", pause="selectedcamera !== undefined", playfullscreen="playfullscreen(site, camera)", fullscreen="false")









                                