div(class="liveplayer")
    span(class="glyphicon big-playing-indicator", ng-class="{'glyphicon-stop': !playing, 'glyphicon-play': playing}")
    liveimage(image="camera.image", ng-click="togglelivefeed()")
    div(class="player-controls notif-animation", ng-show="showcontrols", ng-class="{'help-container': help}", ng-click="showcontrols = !showcontrols")
        h5(class='camera-name') {{ camera.name }}
        span(class="play-button")
            span(class="glyphicon", ng-class="{'glyphicon-play': !playing, 'glyphicon-stop': playing}", ng-click='togglelivefeed(); $event.stopPropagation()')
            span(class="help right small", ng-show="help && !fullscreen") {{ 'HELP_LIVE_PLAY' | translate }}
        span(class="fullscreen-button")
            span(class="glyphicon glyphicon-resize-full", ng-click="playfullscreen({site: site, camera: camera}); $event.stopPropagation()", ng-show="fullscreen == false")
            span(class="glyphicon glyphicon-resize-small", ng-click="playfullscreen({site: undefined, camera: undefined}); $event.stopPropagation()", ng-show="fullscreen == true")
            span(class="help right", ng-show="help && !fullscreen") {{ 'HELP_FULLSCREEN' | translate }}
    div(class="close-button", ng-if="fullscreen", ng-click="playfullscreen({site: undefined, camera: undefined})")
        span(class="glyphicon glyphicon-remove")
        span(class="help left", ng-show="help") {{ 'HELP_CLOSE_PLAYER' | translate }}