doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui, user-scalable=no")
    script(src='/vendor/jquery.min.js')     
    script(src='/vendor/js/bootstrap.min.js')  
    script(src='/vendor/angular.js')
    script(src='/vendor/angular-translate.min.js')
    script(src='/vendor/angular-translate-loader-static-files.min.js')
    script(src='/vendor/angular-touch.min.js')
    script(src="/vendor/angular-animate.min.js")
    script(src='/app.min.js')
    link(rel="stylesheet", href="/vendor/bootstrap.min.css", media="screen")
    link(rel="stylesheet", href="/css/main.css", media="screen")
    title #{appName}

  body(ng-app="alarmviewer", ng-controller="navbarcontroller", translate-cloak, class="ng-cloak")

    if status == 401
        div(class="notifications hidden-md hidden-lg")
            p 
                span {{ 'AUTH_FAILURE' | translate }}

    div(class='container-fluid')
        header(class='hidden-sm hidden-xs')
            a(href="{{ 'FOXURL' | translate }}")
                img(src='/img/logo-foxstream.png')
            if status == 401
                div(class="notifications")
                    p 
                        span {{ 'AUTH_FAILURE' | translate }}
            h1(class='app-name') FoxWebAlarmPlayer

    nav(role='navigation' class='nav-connection')
        ul
            li(ng-mouseover='showLanguagePicker = true',
                ng-mouseleave='showLanguagePicker = false',
                class="hidden-xs hidden-sm lang-picker")
                a(href="#")
                     span(class='link') {{ getCurrentLanguage() | uppercase }}
                div(class="submenu language" ng-show='showLanguagePicker')
                    ul
                        li(ng-repeat="l in languages", ng-if="l !== getCurrentLanguage()")
                            a(href='#', ng-click="changeLanguage(l)")
                                span(class='link') {{ l | uppercase }}

    div(class='container-fluid content')

        //- Header for mobile devices
        div(class='foxstream-header hidden-md hidden-lg')
            img(src='/img/logo-foxstream.png')
            br
            span(class='app-name') FoxWebAlarmPlayer


        div(class="form col-xs-12 col-md-6 col-md-offset-3 login")
            form(action='/login', method='POST')
                .form-group
                    label(for='username') {{ 'USERNAME' | translate }} :
                    input(type='text', class='form-control', name='username', required, autofocus)
                .form-group
                    label(for='password') {{ 'PASSWORD' | translate }} :
                    input(type='password', class='form-control', name='password')
                button(type='submit' class='button-primary full-width submit') {{ 'LOGIN_BUTTON' | translate }}