doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="mobile-web-app-capable", content="yes")
    script(src='/vendor/jquery/dist/jquery.min.js')     
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')     
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css", media="screen")
    link(rel="stylesheet", href="/css/main.css", media="screen")
    title Login

  body    

    div(class='container-fluid')
        header(class='hidden-sm hidden-xs')
          img(src='/static/img/logo-foxstream.gif')
          h1(class='app-name') FoxWebAlarmPlayer

    nav(role='navigation' class='nav-connection')
        span(class='nav-link') 
            span(class='link') Connexion

    div(class='container-fluid content')

        //- Header for mobile devices
        div(class='foxstream-header hidden-md hidden-lg')
            img(src='static/img/logo-foxstream.gif')
            br
            span(class='app-name') FoxWebAlarmPlayer


        div(class="form col-xs-12 col-md-6 col-md-offset-3 login")
            form(action='/login', method='POST')
                .form-group
                    label(for='username') Login :
                    input(type='text', class='form-control', name='username', placeholder='Username', required, autofocus)
                .form-group
                    label(for='password') Mot de passe :
                    input(type='password', class='form-control', name='password', placeholder='Password')
                button(type='submit' class='button-primary full-width submit') Connexion          