doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui, user-scalable=no")
    meta(name="mobile-web-app-capable", content="yes")
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-translate/angular-translate.min.js')
    script(src='/vendor/translate-loader/translate-loader.min.js')
    script(src='/vendor/angular-touch/angular-touch.min.js')
    script(src="/vendor/angular-animate/angular-animate.min.js")
    script(src='/app.min.js')
    link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css", media="screen")
    link(rel="stylesheet", href="/css/main.css", media="screen")
    block title
  body(ng-app='alarmviewer' class="ng-cloak")

      div(class='container-fluid')

        header(class='hidden-xs hidden-sm')
          img(src='/img/logo-foxstream.gif')
          div(class="notifications hidden-xs hidden-sm notif-animation", ng-show="notification.show")
              p {{ notification.message }}
              i(class="glyphicon glyphicon-remove", ng-click="hidenotification()")
          h1(class='app-name') FoxWebAlarmPlayer

      div(class="language")
        button(ng-click="changeLanguage('fr')", class="button-secondary") Français
        button(ng-click="changeLanguage('en')", class="button-secondary") English

      nav(role='navigation', ng-controller='navbarcontroller')

          div(class="notifications hidden-md hidden-lg notif-animation", ng-show="notification.show")
            p {{ notification.message }}
            i(class="glyphicon glyphicon-remove", ng-click="hidenotification()")

          ul
              li(ng-class='{ active: isActive("alarmview") }')
                  a(href="/alarmview"
                    class='nav-link') 
                      i(class='glyphicon glyphicon-alert') 
                      span(class='link') Alarmes
                  span(class="navbar-notif", ng-show="alarmcounter > 0") {{ alarmcounter < 10 ? alarmcounter : '!' }}
              li(ng-class='{ active: isActive("live") }')
                  a(href="/live") 
                    i(class='glyphicon glyphicon-play') 
                    span(class='link') Direct
              li(ng-class='{ active: isActive("accountsettings") || isActive("userview") || isActive("serverview") }',
                  ng-mouseover='showsubmenu = true',
                  ng-mouseleave='showsubmenu = false', ng-controller="servercontroller")
                  a(href='/accountsettings')
                      i(class='glyphicon glyphicon-cog')
                      span(class='link') Paramètres
                      span(class="navbar-notif", ng-show="getDisconnectedServers().length > 0") !

                  div(class="submenu" ng-show='showsubmenu')
                    ul
                      li(ng-class='{ active: isActive("accountsettings") }')
                        a(href='/accountsettings')
                          span(class='link') Paramètres du compte
                      if user.type == 1
                          li(ng-class='{ active: isActive("serverview") }')
                            a(href='/serverview')
                              span(class='link') Serveurs
                              span(class="navbar-notif", ng-show="getDisconnectedServers().length > 0") !
                          li(ng-class='{ active: isActive("userview") }')
                            a(href='/userview')
                              span(class='link') Utilisateurs
                      li
                        a(href='/logout')
                          span(class='link') Déconnexion


      div(class="page-content")
        block content