div(class="swiper" ng-swipe-left='shownextalarm()' ng-swipe-right='showpreviousalarm()')
    div(class="slides-container")
        div(class="slide")
            imageplayer(alarm='currentalarm')
            ul(class="alarm-details")
                li(ng-show='currentalarm.handled === 1')
                    b(style="color: red;") {{ 'HANDLED' | translate }}
                li
                    {{ currentalarm.timestamp*1000 | date:'dd/MM/yyyy - HH:mm' }}
                li 
                    b {{ 'CAMERA' | translate }} : 
                    {{ currentalarm.cameraname }}
                li  
                    b {{ 'SITE' | translate }} : 
                    {{ currentalarm.sitename }}