extends ./MainTemplate

block content

  div(class='container-fluid')

      div(ng-controller='usercontroller')

        //- Desktop buttons
        div(class='actions hidden-xs hidden-sm')
            button(class="button-primary help-container", ng-click='initemptyuser()', ng-show='newuser === undefined && currentuser === undefined') {{ 'NEW_USER' | translate }}
                span(class="help left", ng-show="help") {{ 'HELP_NEWUSER' | translate }}

        //- Mobile buttons 
        div(class='actions hidden-lg hidden-md')

            button(class="button-secondary back" ng-click='back()', ng-show="currentUser === undefined")
              span {{ 'SETTINGS' | translate }}
            button(class="button-primary", ng-click='initemptyuser()', ng-show='newuser === undefined') {{ 'ADD' | translate }}

        div(class="table-container hidden-xs hidden-sm")
          table
            col(style="width: 21%")
            col(style="width: 21%")
            col(style="width: 21%")
            col(style="width: 21%")
            col(style="width: 16%")
            thead
              tr
                th {{ 'USERNAME' | translate }}
                th {{ 'DISPLAYNAME' | translate }}
                th {{ 'ADMIN' | translate }}
                th(class="help-container")
                  | {{ 'RESET_PASSWORD' | translate }}
                  span(class="help right small", ng-show="help") {{ 'HELP_RESET_PASSWORD' | translate }}
                th
            tbody
              tr(ng-show="users.length < 2")
                  td(colspan="5") {{ 'NO_USER' | translate }}
              //- Using getUsersExceptMe() is useful to display helpboxes because $index is right
              tr(ng-repeat='x in getUsersExceptMe(user)', ng-class="{active: currentuser !== undefined && currentuser.id === x.id}", ng-click="edituser(x.id)")
                td(ng-show="currentuser === undefined || currentuser.id !== x.id") {{ x.login }}
                td(ng-show="currentuser !== undefined && currentuser.id === x.id")
                    input(type="text" ng-model="currentuser.login", ng-click="$event.stopPropagation()")

                td(ng-show="currentuser === undefined || currentuser.id !== x.id", ng-class="{'help-container': $index===0}")
                  | {{ x.displayname }}
                  span(class="help inside", ng-show="help && $index===0 && newuser===undefined && currentuser===undefined") {{ 'HELP_SELECT_USER' | translate }}
                td(ng-show="currentuser !== undefined && currentuser.id === x.id")
                    input(type="text" ng-model="currentuser.displayname", ng-click="$event.stopPropagation()")

                td(ng-show="currentuser === undefined || currentuser.id !== x.id")
                    input(type="checkbox" ng-model="x.type", ng-click="$event.stopPropagation()", ng-disabled="true", ng-true-value="1", ng-false-value="0")
                td(ng-show="currentuser !== undefined && currentuser.id === x.id")
                    input(type="checkbox" ng-model="currentuser.type", ng-click="$event.stopPropagation()", ng-true-value="1", ng-false-value="0")

                td
                    button(ng-click='resetpassword(x.id); $event.stopPropagation();', title='Reset mot de passe', class="button-secondary", ng-show="x.shouldChangePassword===0") {{ 'RESET_PASSWORD' | translate }}
                    span(ng-show="x.shouldChangePassword!==0") {{ 'EMPTY_PASSWORD' | translate }}

                td(ng-show="currentuser === undefined || currentuser.id !== x.id")
                    button(ng-click="deleteuser(x.id); $event.stopPropagation();", title="Supprimer l'utilisateur", class="icon button-primary", ng-show="newuser === undefined")
                        span(class="glyphicon glyphicon-trash")

                td(ng-show="currentuser !== undefined && currentuser.id === x.id", class="help-container")
                    button(ng-click="resetuser(); $event.stopPropagation()", title="Annuler", class="icon button-secondary")
                        span(class="glyphicon glyphicon-remove")
                    button(title="Valider", class="icon button-primary", ng-click="commitcurrentuser(); $event.stopPropagation()") 
                        span(class="glyphicon glyphicon-ok")
                    span(class="help left", ng-show="help") {{ 'HELP_COMMIT_CURRENTUSER' | translate }}


                tr(ng-show="newuser !== undefined", class="active")
                    td
                        input(type="text", ng-model="newuser.login")
                    td
                        input(type="text", ng-model="newuser.displayname")
                    td
                        input(type="checkbox", ng-model="newuser.type", ng-true-value="1", ng-false-value="0")
                    td
                    td(class="help-container")
                        button(ng-click="newuser = undefined", title="Annuler", class="icon button-secondary")
                            span(class="glyphicon glyphicon-remove")
                        button(title="Valider", class="icon button-primary", ng-click="commitnewuser()")
                            span(class="glyphicon glyphicon-ok")
                        span(class="help left", ng-show="help") {{ 'HELP_COMMIT_NEWUSER' | translate }}





        div(class="main-element no-tabs hidden-md hidden-lg" id="userlist", ng-show="newuser === undefined")
            div(class='panel', ng-show="users.length < 2")
              h5 
                a(href='#', class="block-header") {{ 'NO_USER' | translate }}
            div(ng-repeat='x in users', class='panel', ng-show="x.id !== user.id")
              h5 
                a(href='#collapse{{$index}}', data-toggle='collapse',
                class="block-header", data-parent='#userlist', ng-click="edituser(x.id)") {{ x.displayname }}
              div(id='collapse{{ $index }}', class='collapse')
                form(name="userform", ng-show="currentuser !== undefined && currentuser.id === x.id")
                  .form-group
                    label(for="login") {{ 'USERNAME' | translate }}
                    input(type="text", class="form-control",
                      id="login", ng-model="currentuser.login")
                  .form-group
                    label(for="displayname") {{ 'DISPLAYNAME' | translate }}
                    input(type="text", class="form-control",
                      id="displayname", ng-model="currentuser.displayname")
                  div(style="text-align: center")
                        input(type="checkbox", id="admin", ng-model="currentuser.type", ng-true-value="1", ng-false-value="0")
                        label {{ 'ADMIN' | translate }}
                  button(ng-click='resetpassword(x.id)', class="button-secondary full-width", ng-show="userform.$pristine", ng-disabled="x.shouldChangePassword===1") {{ 'RESET_PASSWORD' | translate }}
                  button(ng-click='deleteuser(x.id)', title="Supprimer l'utilisateur", class="button-primary full-width", ng-show="userform.$pristine") {{ 'DELETE_USER' | translate }}
                  button(ng-click="resetcurrentuser(); userform.$setPristine()", title="Annuler", class="button-secondary", ng-show="userform.$dirty") {{ 'CANCEL' | translate }}
                  button(ng-click='commitcurrentuser()', title='Valider', class="button-primary", ng-show="userform.$dirty") {{ 'SAVE' | translate }}
                




        div(ng-show='newuser !== undefined', class="hidden-md hidden-lg main-element no-tabs")
            .h5(class="block-header no-arrow") {{ 'NEW_USER' | translate }}
            form
              .form-group
                  label(for="login") {{ 'USERNAME' | translate }}
                  input(type='text', id='login', ng-model='newuser.login', class="form-control")
              .form-group
                  label(for="displayname") {{ 'DISPLAYNAME' | translate }}
                  input(type='text', id='displayname', ng-model='newuser.displayname', class="form-control")
              div(style="text-align: center")
                  input(type="checkbox", id="admin", ng-model="newuser.type", ng-true-value="1", ng-false-value="0")
                  label {{ 'ADMIN' | translate }}
              button(ng-click="newuser = undefined", title="Annuler", class="button-secondary") {{ 'CANCEL' | translate }}
              button(ng-click='commitnewuser()', title='Valider', class="button-primary") {{ 'SAVE' | translate }}